<ngx-spinner bdColor="rgba(255, 255, 255, 1)" size="medium" color="#0D7ABD" type="ball-beat" [fullScreen]="true">
    <p style="color: black">Loading...</p>
  </ngx-spinner> 
  <style>
    .table-container {
    max-height: 570px; /* Ajusta la altura máxima según tus necesidades */
    overflow-x: auto; /* Agrega un scroll horizontal si es necesario */
    overflow-y: auto; /* Agrega un scroll vertical si es necesario */
}
  </style>
  <div class="content-body">
      <div class="container-fluid">
          
          <div class="row page-titles mx-0"  style="padding: 0 !important;
      background: transparent !important;
      margin-bottom: 0 !important;
      border-radius: 5px !important;
      margin-top: -20px !important;">
              <div class="col-sm-6 p-md-0">
                  <div class="welcome-text">
                      <h4>Monitoreo Producción</h4> 
                  </div>
              </div>
              <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                  <ol class="breadcrumb">
                                 
  <mat-button-toggle-group name="ingredients" aria-label="Ingredients" multiple style="border-radius: 70px;
  border: 3px solid #B8122B;font-weight: 500;
  box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 0%), 0px 6px 10px 0px rgba(0, 0, 0, .14), 0px 1px 18px 0px rgba(0, 0, 0, .12);">
    <mat-button-toggle value="flour" (click)="showFilter()">Filtro <mat-icon style="color: #B8122B;">filter_list</mat-icon></mat-button-toggle>
    <mat-button-toggle value="eggs">Refrescar <mat-icon style="color: #B8122B;">autorenew</mat-icon ></mat-button-toggle> 
  </mat-button-toggle-group>	
                  </ol>
              </div>
          </div>
          <div class="row">
			
            <div class="col-lg-12" *ngIf="showfilter">
                    
                <div class="card">
                    
                    <div class="card-body">
                    <div class="row"> 
                    <div class="form-group col-md-2">
                        <label for="cboCotizacion">Cotizacion</label>
                        <select class="form-control" id="cboCotizacion" name="cboCotizacion" [(ngModel)]="cotizacion"></select>
                    </div>  
                    <div class="form-group col-md-2">
                        <label for="txtfec_inicio_n">Fecha Inicio</label>
                        <input type="date" class="form-control" placeholder="Ingrese los Nombres" id="txtfec_inicio_n" name="txtfec_inicio_n" [(ngModel)]="fechaInicio">
                        <p class="help-block" style="display: none;">Example block-level help text here.</p>
                    </div> 
                    <div class="form-group col-md-2">
                        <label for="txtfec_fin_n">Fecha Fin</label>
                        <input type="date" class="form-control" placeholder="Ingrese el Apellido Paterno" id="txtfec_fin_n" name="txtfec_fin_n" [(ngModel)]="fechaFin">
                        <p class="help-block" style="display: none;">Example block-level help text here.</p>
                    </div>    
                    <div class="form-group col-md-4"><br>
                        
                    <section> 
                        <div class="example-button-row"> 
                          <button mat-flat-button color="primary" style="    margin: 6px;" class="btn btn-primary" (click)="buscarVenta()">Buscar</button>
                          <button mat-flat-button color="accent"  style="    margin: 6px;" class="btn btn-success">Exportar</button> 
                        </div>
                      </section>
                    </div> 
                
    
                </div></div>
    
                </div>
    </div>
          </div> 

          <mat-tab-group dynamicHeight>
            <mat-tab label="Exploción">
              <div class="example-small-box mat-elevation-z4">
                <br>
          <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body"> 
                        <div class="table-responsive"> 

                          <section class="example-containerss" tabindex="0">
                            <table  class="table table-sm mb-0 table-responsive-lg text-black">
  <thead class="sticky-top">
    <tr>
      <th class="align-middle minw200">Accion</th> 
      <th class="align-middle minw200">Ruc</th>
      <th class="align-middle minw200">Razón Social</th>
      <th class="align-middle minw200">Cotización</th> 
      <th class="align-middle minw200">Grupo Cotización</th> 
      <th class="align-middle minw200">Cod Producto</th>
      <th class="align-middle minw200">Producto</th>
      <th class="align-middle minw200">Accionamiento</th>
      <th class="align-middle minw200">Cantidad</th>
      <th class="align-middle minw200">Cant Producto</th>
      <th class="align-middle minw200">Estado</th>
      <th class="align-middle minw200">Tipo Operación</th> 
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let item of ListMonitoreoExplocion">
      <tr>
        <td (click)="toggleExpand(item)">
            <button class="btn btn-primary tp-btn-light sharp"   *ngIf="!item.isExpand" (click)="ListarComponteProductoByGrupo(item.cotizacionGrupo)">
                <mat-icon>expand_more</mat-icon>
              </button>
              <button class="btn btn-primary tp-btn-light sharp"  *ngIf="item.isExpand">
                <mat-icon>expand_less</mat-icon>
              </button> 
        </td>       
      <td>{{ item.ruc }}</td>
      <td>{{ item.razonSocial }}</td>
      <td>{{ item.cotizacion }}</td> 
      <td>{{ item.cotizacionGrupo }}</td> 
      <td>{{ item.codigoProducto }}</td>
      <td>{{ item.nombreProducto }}</td>
      <td>{{ item.accionamiento }}</td>
      <td>{{ item.cantidad }}</td>
      <td>{{ item.cantidadProductos }}</td>
      <td>
        <section class="example-section" *ngIf="item.estado=='Pendiente Venta'">
          <mat-progress-bar
              class="example-margin"
              color="warn"
              [mode]="mode"
              value="15" 
              [bufferValue]="bufferValue">
          </mat-progress-bar>
                <div style=" padding: 10px; color: black;"> {{ item.estado }} </div>
        </section>

        <section class="example-section" *ngIf="item.estado=='Pendiente Operaciones'">
          <mat-progress-bar
              class="example-margin"
              color="warn"
              [mode]="mode"
              value="25"
              [bufferValue]="bufferValue">
          </mat-progress-bar>
                <div style=" padding: 10px; color: black;"> {{ item.estado }} </div>
        </section>

        <section class="example-section" *ngIf="item.estado=='En Construcción'">
          <mat-progress-bar
              class="example-margin"
              color="accent"
              [mode]="mode"
              value="40" 
              [bufferValue]="bufferValue">
          </mat-progress-bar>
                <div style=" padding: 10px; color: black;"> {{ item.estado }} </div>
        </section>
        
        <section class="example-section" *ngIf="item.estado=='Construcción Terminada'">
          <mat-progress-bar
              class="example-margin"
              color="primary"
              [mode]="mode"
              value="80" 
              [bufferValue]="bufferValue">
          </mat-progress-bar>
                <div style="padding: 10px; color: black;"> {{ item.estado }} </div>
        </section>
        <section class="example-section" *ngIf="item.estado=='Terminado'"> 
                <div style="padding: 10px; color: white;background: #07ff5e !important; "> {{ item.estado }} </div> 
        </section>
        <!--<section class="example-section" *ngIf="item.estado=='Terminado'">
          <mat-progress-bar
              class="example-margin"
              color="success"
              [mode]="mode"
              value="100" 
              [bufferValue]="bufferValue">
          </mat-progress-bar>
                <div style="padding: 10px; color: black;"> {{ item.estado }} </div>
        </section>-->
        <!--<section class="example-section" *ngIf="item.estado=='Finalizado'">
          <mat-progress-bar
              class="example-margin"
              color="success"
              [mode]="mode"
              value="100" 
              [bufferValue]="bufferValue">
          </mat-progress-bar>
                <div style=" padding: 10px; color: black;"> {{ item.estado }} </div>
        </section>-->
        <!-- susces verde -->
        </td>
      <td> -- </td> 
      </tr>
      <tr *ngIf="item.isExpand">
        <td colspan="13"> 
          <div class="table-container">
            <table  class="table table-responsive-lg mb-0 table-striped" id="dubcomponente">
                <thead  class="sticky-top">
                    <tr>
                        <th class="align-middle minw200">Componente</th>
                        <th class="align-middle minw200">Codigo</th>
                        <th class="align-middle minw200">Descripcion</th>
                        <th class="align-middle minw200">Color</th>
                        <th class="align-middle minw200">Unidad Medida</th>
                        <th class="align-middle minw200">Cantidad Utilizada</th>
                        <th class="align-middle minw200">Merma</th>
                        <th class="align-middle minw200">Accion</th> 
                    </tr>
                </thead>
                <tbody id="id_tabla"></tbody>
                <tbody>
                    <tr *ngFor="let comp of ListComponenteProducto"> 
                        <td  style="width: 124px !important;">{{comp.componente}}</td>
                        <td style="width: 124px !important;">
                            <select class="form-control input-sm"  [(ngModel)]="comp.codigo">
                              <option [value]="comp.codigo">{{comp.codigo}} - {{comp.nombre}}</option>
                                <!--<option value="PALCS00000002">PALCS00000002 : RIEL SUP/INF CORTINA CELULAR COLOR IVORY</option> -->
                            </select> 
                        </td>
                        <td id="row-1" style="width: 302px !important;">{{comp.nombre}}</td>
                        <td id="row-2" style="width: 182px !important;"></td>
                        <td id="row-3" style="width: 362px !important;">0000</td>
                        <td style="width: 124px !important;">
                            <input type="text" class="form-control input-sm"  [(ngModel)]="comp.cantidad" /></td>
                        <td style="width: 124px !important;">
                            <input type="text" class="form-control input-sm"  [(ngModel)]="comp.merma" />
                        </td>
                        <td>     
                          <div class="form-group" style="text-align: center;">
                        <button class="btn btn-primary tp-btn-light sharp"  *ngIf="item.isExpand" (click)="clonarComponente(comp)" style="    margin: 9px;">
                            <mat-icon>file_copy</mat-icon>
                        </button>                        
                        <button class="btn btn-primary tp-btn-light sharp"  *ngIf="item.isExpand && comp.agregado" (click)="eliminarItemAgregado(comp)">
                            <mat-icon>remove_circle_outline</mat-icon>
                        </button>
                      </div>                        
                        </td> 
                    </tr>
                    <tr>
                        <td colspan="8" style="width: 124px !important;">
                            <input
                                type="button"
                                class="btn btn-primary"
                                value="Guardar Componentes" 
                                (click)="guardarComponentes()"
                            />
                             
                        <button class="btn btn-primary tp-btn-light sharp" style="float: right;" *ngIf="item.isExpand" (click)="agregarComponente()">
                            <mat-icon>library_add</mat-icon>
                          </button> 
                        </td> 
                    </tr>
                </tbody>
            </table> </div>
            <div id="output"></div> 
        </td>
      </tr>
    </ng-container>
  </tbody>    
</table> 
</section> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
              </div>
            </mat-tab>
            <mat-tab label="Reporte Monitoreo">
              <div class="example-large-box mat-elevation-z4">
                <br>
                <div class="row">
                  <div class="col-lg-12">
                      <div class="card">
                          <div class="card-body">
                              <div class="table-responsive"> 
                                
                          <section class="example-containerss" tabindex="0">
                                <table  class="table table-sm mb-0 table-responsive-lg text-black">
                                    <thead class="sticky-top">
                                    <tr>
                                    <th class="align-middle minw200">N Cotizacion</th>
                                    <th class="align-middle minw200">Cod OP</th>
                                    <th class="align-middle minw200">Ruc</th>
                                    <th class="align-middle minw200">Nombre Cliente</th>
                                    <th class="align-middle minw200">Nombre Proyecto</th>
                                    <th class="align-middle minw200">Tpo Cliente</th>	 
                                    <th class="align-middle minw200">Vendedor</th>	
                                    <th class="align-middle minw200">Fec Produccion</th>
                                    <th class="align-middle minw200">Observaciones</th>
                                    <th class="align-middle minw200">Estado</th>
                                    <th class="align-middle minw200">Id Producto</th>
                                    <th class="align-middle minw200">Nombre Producto</th>
                                    <th class="align-middle minw200">Unidad Medida</th>
                                    <th class="align-middle minw200">Accionamiento</th>
                                    <th class="align-middle minw200">Cant Productos</th>
                                    <th class="align-middle minw200">Cantidad</th>
                                    <th class="align-middle minw200">Fecha Produccion</th>
                                    <th class="align-middle minw200">Fecha Entrega</th>
                                    <th class="align-middle minw200">Tiempo X Minuto</th>
                                    <th class="align-middle minw200">Nro de Motores</th>
                                    <th class="align-middle minw200">Reproceso</th>
                                    <th class="align-middle minw200">Cot. Principal</th>
                                    <th class="align-middle minw200">Tipo Operacion</th>                        
                                    </tr>
                                    </thead>
                                    <tbody id="detalle_data">
                                        <tr>
                                            <td>025429</td>
                                            <td></td>
                                            <td>20601056926</td>
                                            <td>SJ GLASS SAC</td>
                                            <td>DIST-025429</td>
                                            <td>Distribucion</td>
                                            <td>CRISTINA MUNOZ</td>		
                                            <td></td>
                                            <td></td>	
                                            <td>Pendiente Venta</td>		  
                                            <td>PRTRS0052</td>		  
                                            <td>ROLLER SHADE BLACKOUT PLASTIFICADO | LINEN</td>		  
                                            <td>MTK</td>		  		  
                                            <td>Manual</td>	  
                                            <td>1</td>		  
                                            <td>1.729</td>		  
                                            <td>2024-04-27</td>			  
                                            <td>2024-04-27</td>		 		  
                                            <td></td>		  	  
                                            <td>0</td>		 		  
                                            <td></td>		  	  
                                            <td></td>		 	  
                                            <td>Venta</td>		  	  
                                            </tr>
                                    </tbody>
                                    </table>
                                    </section>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              </div>
            </mat-tab>
            <mat-tab label="Mantenimiento Exploción">
              <div class="example-large-box mat-elevation-z4">
                <br>
                <div class="row">
                  <div class="col-lg-12">
                      <div class="card">
                          <div class="card-body">
                              <div class="table-responsive"> 
                                  
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              </div>
            </mat-tab>
            <mat-tab label="Carga">
              <div class="example-large-box mat-elevation-z4">
                <br>
                <div class="row">
                  <div class="col-lg-12">
                      <div class="card">
                          <div class="card-body">
                              <div class="table-responsive"> 
                                  
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              </div>
            </mat-tab>
          </mat-tab-group>
      </div>
  </div> 
  