<ngx-spinner bdColor="rgba(255, 255, 255, 1)" size="medium" color="#0D7ABD" type="ball-beat" [fullScreen]="true">
  <p style="color: black">Loading...</p>
</ngx-spinner>
<style>
  .mat-tab-header{
    border-radius: 12px !important;
    box-shadow: 0px 9px 5px 0px rgb(23 23 24 / 10%) !important;
    background: #ff8ddb00 !important;
} 
  .table-container {
    max-height: 570px;
    /* Ajusta la altura máxima según tus necesidades */
    overflow-x: auto;
    /* Agrega un scroll horizontal si es necesario */
    overflow-y: auto;
    /* Agrega un scroll vertical si es necesario */
  }

  .search-input {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
    /* Opcional: para asegurarse de que el campo de búsqueda esté sobre el contenido de la tabla */

    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  td.min-width-230 {
  min-width: 230px !important;
} 
.example-margin{
  min-width: 54px;
}
</style>
<div class="content-body">
  <div class="container-fluid">
    <div class="row page-titles mx-0" style="padding: 0 !important;
      background: transparent !important;
      margin-bottom: 0 !important;
      border-radius: 5px !important;
      margin-top: -20px !important;">
      <div class="col-sm-6 p-md-0">
        <div class="welcome-text">
          <h4>Monitoreo Producción</h4>
        </div>
      </div>
      <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
          <mat-button-toggle-group name="ingredients" aria-label="Ingredients" multiple
            style="border-radius: 70px;
  border: 3px solid #B8122B;font-weight: 500;
  box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 0%), 0px 6px 10px 0px rgba(0, 0, 0, .14), 0px 1px 18px 0px rgba(0, 0, 0, .12);">
            <mat-button-toggle value="flour" [disabled]="isFilterButtonDisabled" (click)="showFilter()">Filtro
              <mat-icon style="color: #B8122B;">filter_list</mat-icon></mat-button-toggle>
            <mat-button-toggle value="eggs" style="display: none;">Refrescar
              <mat-icon style="color: #B8122B;">autorenew</mat-icon></mat-button-toggle>
          </mat-button-toggle-group>
        </ol>
      </div>
    </div>

    <mat-tab-group dynamicHeight (selectedTabChange)="onTabChange($event)">
      <mat-tab label="Exploción">
        <div class="example-small-box mat-elevation-z4">
          <br />
          <div class="row">
            <div class="col-lg-12" *ngIf="showfilter">
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="form-group col-md-2">
                      <label for="cboCotizacion">Cotizacion</label>                      
                    <input type="text" [(ngModel)]="cotizacion" placeholder="" class="form-control"/> 
                    </div>
                    <div class="form-group col-md-2">
                      <label for="txtfec_inicio_n">Fecha Inicio</label>
                      <input type="date" class="form-control" placeholder="Ingrese los Nombres" id="txtfec_inicio_n"
                        name="txtfec_inicio_n" [(ngModel)]="fechaInicio" />
                      <p class="help-block" style="display: none;">
                        Example block-level help text here.
                      </p>
                    </div>
                    <div class="form-group col-md-2">
                      <label for="txtfec_fin_n">Fecha Fin</label>
                      <input type="date" class="form-control" placeholder="Ingrese el Apellido Paterno"
                        id="txtfec_fin_n" name="txtfec_fin_n" [(ngModel)]="fechaFin" />
                      <p class="help-block" style="display: none;">
                        Example block-level help text here.
                      </p>
                    </div>
                    <div class="form-group col-md-4">
                      <br />

                      <section>
                        <div class="example-button-row">
                          <button mat-flat-button color="primary" style="    margin: 6px;" class="btn btn-primary"
                            (click)="ListarMonitoreoExplocion()">
                            Buscar
                          </button>
                          <button mat-flat-button color="accent" style="    margin: 6px;" class="btn btn-success">
                            Exportar
                          </button>
                        </div>
                      </section>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="card">
                <div class="card-body" style="margin-top: -19px;">
                  <div class="col-lg-4" style="float: right;">
                    <input type="text" [(ngModel)]="filterText" placeholder="Buscar..." class="form-control"
                      step="height: 43px !important;" />
                  </div>
                  <div class="table-responsive">
                    <section class="example-containerss" tabindex="0">
                      <table class="table table-sm mb-0 table-responsive-lg" >
                        <thead class="sticky-top" style="color: #7e7e7e !important;">
                          <tr style="box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);  ">
                            <th>Accion</th>
                            <th>Ruc</th>
                            <th>Razón Social</th>
                            <th>Cotización</th>
                            <th style="white-space: nowrap">Cot. Grupo</th> 
                            <th style="white-space: nowrap">Cant. Producto</th>
                            <th>Productos</th>
                            <th>Accionamiento</th>
                            <th>Estado</th>
                            <!--<th style="white-space: nowrap">Tipo Operación</th>-->
                          </tr>
                        </thead>
                        <tbody style="color: black;">
                          <!--<ng-container *ngFor="let item of filteredList()">-->
                            <tr  *ngFor="let item of filteredList()"> 
                              <td>
                                <!--  [disabled]="item.estado !== 'Construcción Terminada'"  -->
                                <button class="btn btn-primary tp-btn-light sharp"  *ngIf="item.estado!=='Terminado'" 
                                
                                  (click)="AbrirExplocionComponentes(item)">
                                  <mat-icon>explicit</mat-icon>
                                </button>
                                
                                <button class="btn btn-primary tp-btn-light sharp"     *ngIf="item.estado=='Terminado'" 
                                 [disabled]="item.estado !== 'Construcción Terminada'" 
                                  (click)="AbrirExplocionComponentes(item)" style="background: #13cc13 !important;
    border: 1px solid #12cf12 !important;">
                                  <mat-icon>explicit</mat-icon>
                                </button>
                              </td>
                              <td>{{ item.ruc }}</td>
                              <td>{{ item.razonSocial }}</td>
                              <td>{{ item.cotizacion }}</td>
                              <td>{{ item.cotizacionGrupo }}</td> 
                              <td>{{ item.cantidadProductos }}</td>
                              <td nowrap>{{item.productosContados}}</td>
                              <td nowrap>{{item.accionamiento}}</td>
                              <td>
                                <section class="example-section" *ngIf="item.estado=='Pendiente Venta'">
                                  <mat-progress-bar  class="example-margin" color="warn" [mode]="mode" value="15"
                                    [bufferValue]="bufferValue">
                                  </mat-progress-bar>
                                  <div style=" padding: 10px; color: black;">
                                    {{ item.estado }}
                                  </div>
                                </section>

                                <section class="example-section" *ngIf="item.estado=='Pendiente Operaciones'">
                                  <mat-progress-bar class="example-margin" color="warn" [mode]="mode" value="25"
                                    [bufferValue]="bufferValue">
                                  </mat-progress-bar>
                                  <div style=" padding: 10px; color: black;">
                                    {{ item.estado }}
                                  </div>
                                </section>

                                <section class="example-section" *ngIf="item.estado=='En Construcción'">
                                  <mat-progress-bar class="example-margin" color="accent" [mode]="mode" value="40"
                                    [bufferValue]="bufferValue">
                                  </mat-progress-bar>
                                  <div style=" padding: 10px; color: black;">
                                    {{ item.estado }}
                                  </div>
                                </section>

                                <section class="example-section" *ngIf="item.estado=='Construcción Terminada'">
                                  <mat-progress-bar class="example-margin" color="primary" [mode]="mode" value="80"
                                    [bufferValue]="bufferValue">
                                  </mat-progress-bar>
                                  <div style="padding: 10px; color: black;">
                                    {{ item.estado }}
                                  </div>
                                </section>
                                <section class="example-section" *ngIf="item.estado=='Terminado'">
                                  <div style="padding: 10px; color: white;background: #07ff5e !important; ">
                                    {{ item.estado }}
                                  </div>
                                </section> 
                              </td>
                             <!-- <td>--</td> -->
                            </tr> 
                        </tbody>
                      </table>
                    </section>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
     <!-- <mat-tab label="Mantenimiento Exploción">
        <div class="example-large-box mat-elevation-z4">
          <br />
          <div class="row">
            <div class="col-lg-12">
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="form-group col-md-4">
                      <label>Grupo Cotizacion</label>
                      <input type="text" class="form-control" placeholder="Ingrese Cotizacion" [(ngModel)]="CotizacionsBuscar"
                        id="txtCotizacionExplocion" name="txtCotizacionExplocion" />
                    </div>
                    <div class="col-lg-1"><br>
                      <button mat-flat-button color="primary" class="btn btn-primary" (click)="ListarMantenimientoExplocion()">Buscar</button>
                  </div>
                  <div class="col-lg-2"><br>
                    <button mat-flat-button color="primary" class="btn btn-primary-azul" style="background: #1266F1;"  *ngIf="ListMantenimeintoExplocion.length>0" (click)="guardarComponentesExplocion()">Modificar Exploción</button>
                </div> 
                <div class="col-lg-2"><br>
                  <button mat-flat-button color="primary" class="btn btn-primary"    *ngIf="ListMantenimeintoExplocion.length>0" (click)="CancelarMantenimiento()">Cancelar</button>
              </div> 
                  </div>
                  <div class="table-responsive">
                    <section class="example-containerss" tabindex="0">
                      <table class="table table-sm mb-0 table-responsive-lg">
                        <thead class="sticky-top">
                          <tr> 
                            <th>Cotizacion</th>
                            <th>Grupo</th>
                            <th nowrap>COD. PRODUCTO</th>
                            <th nowrap>NOM. PRODUCTO</th>
                            <th>Componente</th>
                            <th>Codigo</th>
                            <th style="white-space: nowrap">
                              Nombre
                            </th>
                            <th>Color</th>
                            <th style="white-space: nowrap">U. Medida</th>
                            <th  style="white-space: nowrap !important;">C. UTILIZADA	</th>
                            <th>Merma</th>
                            <th>
                              
                          <button class="btn btn-primary-azul tp-btn-light sharp" *ngIf="ListMantenimeintoExplocion.length>0" (click)="agregarComponenteMantenimiento()" title="Agregar Nuevo Componente">
                          <mat-icon>library_add</mat-icon>
                      </button>
 
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let componente of ListMantenimeintoExplocion"> 
                            <td>{{ componente.numeroCotizacion }}</td>
                            <td nowrap>{{ componente.cotizacionGrupo }}</td>
                            <td>{{ componente.codigo_Producto }}</td>
                            <td style="width: 124px !important;">{{ componente.nombre_Producto }}</td>
                            <td>{{ componente.componente }}</td>
                            <td>  
                            <mat-form-field appearance="outline" style="width: 100%;">
                              <mat-select  [(ngModel)]="componente.cod_Componente" placeholder="Buscar" style="width: 190px;" (selectionChange)="onNombreChangeMantenimiento($event, componente)">
                                <mat-select-trigger>
                                  {{ componente.descripcion || '---Seleccione---' }}
                                </mat-select-trigger>
                                <input matInput (keyup)="applyFilterMantenimiento($event, componente)" placeholder="Buscar" class="search-input" />
 
                              <mat-option *ngIf="!isOptionInFilteredOptions(componente.cod_Componente, componente.filteredOptions)" [value]="componente.cod_Componente">
                                  {{ componente.cod_Componente }} : {{ componente.descripcion }}
                              </mat-option>
                              
                                <mat-option value="">---Seleccione---</mat-option>
                                <mat-option *ngFor="let item of componente.filteredOptions" [value]="item.codigo">
                                  {{ item.codigo }} : {{ item.nombre }}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>

                            </td>
                            <td  style="width: 124px !important;">{{ componente.descripcion }}</td>
                            <td>{{ componente.color }}</td>
                            <td>{{ componente.unidad }}</td>
                            <td>
                              <input type="number" class="form-control"  min="0" [(ngModel)]="componente.cantidad"
                                placeholder="Cantidad" />
                            </td>
                            <td>
                              <input type="number" class="form-control"  min="0" [(ngModel)]="componente.merma" placeholder="Merma" />
                            </td>
                            <td  style="    min-width: 118px;">
                              <button class="btn btn-primary tp-btn-light sharp" title="Clonar" (click)="clonarComponenteMantenimiento(componente)"
                              style="    margin: 9px;">
                              <mat-icon>file_copy</mat-icon>
                          </button>

                          <button class="btn btn-primary tp-btn-light sharp" *ngIf="componente.agregado" title="Eliminar"
                          (click)="eliminarItemAgregadoMantenimiento(componente)">
                          <mat-icon>remove_circle_outline</mat-icon>
                      </button> 
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </section>
                  </div> 
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>-->
      <mat-tab label="Carga Salida SAP">
        <div class="example-large-box mat-elevation-z4">
          <br />
          <div class="row">
            <div class="col-lg-12">
              <div class="card">
                <div class="card-body">
                  <div class="table-responsive">
                    <div class="container" style="width: 100%; height: 100%;" appDnd
                      (fileDropped)="onFileDropped($event)" *ngIf="porCargar">
                      <input type="file" #fileDropRef id="fileDropRef" multiple (change)="fileBrowseHandler($event)" />
                      <svg xmlns="http://www.w3.org/2000/svg" width="63" height="64" viewBox="0 0 63 64">
                        <g fill="#3B454F" fill-rule="nonzero">
                          <path
                            d="M42.656 15.135a1.953 1.953 0 0 1-1.391-.578L31.5 4.795l-9.765 9.762a1.97 1.97 0 1 1-2.785-2.785L30.106.616a1.97 1.97 0 0 1 2.785 0l11.157 11.156a1.97 1.97 0 0 1-1.392 3.363z" />
                          <path
                            d="M31.5 36.791a1.97 1.97 0 0 1-1.969-1.969V2.01a1.97 1.97 0 0 1 3.938 0v32.812a1.97 1.97 0 0 1-1.969 1.969z" />
                          <path
                            d="M55.781 63.041H7.22A7.225 7.225 0 0 1 0 55.822V41.385a4.599 4.599 0 0 1 4.594-4.594h7.234a4.567 4.567 0 0 1 4.402 3.276l2.814 9.382a.658.658 0 0 0 .628.467h23.656a.658.658 0 0 0 .628-.467l2.814-9.385a4.572 4.572 0 0 1 4.402-3.273h7.234A4.599 4.599 0 0 1 63 41.385v14.437a7.225 7.225 0 0 1-7.219 7.219zM4.594 40.729a.656.656 0 0 0-.657.656v14.437a3.286 3.286 0 0 0 3.282 3.282H55.78a3.286 3.286 0 0 0 3.282-3.282V41.385a.656.656 0 0 0-.657-.656h-7.234a.65.65 0 0 0-.628.467L47.73 50.58a4.628 4.628 0 0 1-4.402 3.274H19.672a4.567 4.567 0 0 1-4.402-3.276l-2.814-9.382a.65.65 0 0 0-.628-.467H4.594z" />
                        </g>
                      </svg>

                      <h3>Arrastre y suelte el archivo aquí</h3>
                      <h3>O</h3>
                      <label for="fileDropRef">Seleccione archivo</label>
                    </div>
                    <div class="col-lg-12" *ngIf="porCargar" style="text-align: center;">
                      <section>
                        <div class="example-button-row">
                          <div style=" 
                          margin: 6px;
                          color: blue;
                          cursor: pointer;
                          margin: 6px;" (click)="descargarArchivo()">
                            Descargar Plantilla
                            <mat-icon>cloud_download</mat-icon>
                          </div>
                        </div>
                      </section>
                    </div>
                    <div class="files-list">
                      <div class="single-file" *ngFor="let file of files; let i = index">
                        <div class="file-icon" style="width: 50px">
                          <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 58 58"
                            style="enable-background:new 0 0 58 58;" xml:space="preserve">
                            <polygon style="fill:#EDEADA;" points="51.5,14 37.5,0 6.5,0 6.5,58 51.5,58 " />
                            <g>
                              <path style="fill:#CEC9AE;"
                                d="M16.5,23h25c0.552,0,1-0.447,1-1s-0.448-1-1-1h-25c-0.552,0-1,0.447-1,1S15.948,23,16.5,23z" />
                              <path style="fill:#CEC9AE;"
                                d="M16.5,15h10c0.552,0,1-0.447,1-1s-0.448-1-1-1h-10c-0.552,0-1,0.447-1,1S15.948,15,16.5,15z" />
                              <path style="fill:#CEC9AE;"
                                d="M41.5,29h-25c-0.552,0-1,0.447-1,1s0.448,1,1,1h25c0.552,0,1-0.447,1-1S42.052,29,41.5,29z" />
                              <path style="fill:#CEC9AE;"
                                d="M41.5,37h-25c-0.552,0-1,0.447-1,1s0.448,1,1,1h25c0.552,0,1-0.447,1-1S42.052,37,41.5,37z" />
                              <path style="fill:#CEC9AE;"
                                d="M41.5,45h-25c-0.552,0-1,0.447-1,1s0.448,1,1,1h25c0.552,0,1-0.447,1-1S42.052,45,41.5,45z" />
                            </g>
                            <polygon style="fill:#CEC9AE;" points="37.5,0 37.5,14 51.5,14 " />
                          </svg>
                        </div>
                        <div class="info">
                          <h4 class="name">
                            {{ file?.name }}
                          </h4>
                          <p class="size">
                            {{ formatBytes(file?.size, 0) }}
                          </p>
                          <div class="progress-cont">
                            <div class="progress" [style.width]="file?.progress + '%'"></div>
                          </div>
                        </div>

                        <div class="delete" (click)="deleteFile(i)">
                          <svg xmlns="http://www.w3.org/2000/svg" width="14" height="18" viewBox="0 0 14 18">
                            <path fill="#B1B1B1" fill-rule="nonzero"
                              d="M1 16c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2H3c-1.1 0-2 .9-2 2v10zm3.17-7.83a.996.996 0 0 1 1.41 0L7 9.59l1.42-1.42a.996.996 0 1 1 1.41 1.41L8.41 11l1.42 1.42a.996.996 0 1 1-1.41 1.41L7 12.41l-1.42 1.42a.996.996 0 1 1-1.41-1.41L5.59 11 4.17 9.58a.996.996 0 0 1 0-1.41zM10.5 1L9.79.29C9.61.11 9.35 0 9.09 0H4.91c-.26 0-.52.11-.7.29L3.5 1H1c-.55 0-1 .45-1 1s.45 1 1 1h12c.55 0 1-.45 1-1s-.45-1-1-1h-2.5z" />
                          </svg>
                        </div>
                      </div>
                    </div>
                    <!-- Agregar la vista previa de la tabla aquí -->
                    <div *ngIf="existearchivo">
                      <div class="row">
                        <div [ngClass]="{ 'col-lg-6': !error, 'col-lg-12': error }">
                          <h3 *ngIf="!error">
                            Vista previa de la carga - Total filas:
                            {{ previewData.length }}
                          </h3> 
                        <div   *ngFor="let error of htmlErrores" style="color: red; font-weight: 700;">
                          <span>{{ error }} </span><br>
                        </div>

                        </div>
                        <div class="col-lg-6">
                          <button mat-flat-button color="warn" style="float: right; margin: 6px;"
                            class="btn-primary-azul" *ngIf="!error" (click)="CargarPlantilla()">
                            Realizar la carga <mat-icon>cloud_upload</mat-icon>
                          </button>
                        </div>
                      </div>

                      <div class="table-responsive">
                        <section class="example-containerss" tabindex="0">
                          <table class="table table-responsive-lg mb-0 table-striped">
                            <thead class="sticky-top">
                              <tr>
                                <th *ngFor="let header of previewHeaders">
                                  {{ header }}
                                </th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let row of previewData">
                                <td *ngFor="let cell of row">{{ cell }}</td>
                              </tr>
                            </tbody>
                          </table>
                        </section>
                      </div>
                    </div>
                    <!-- Fin de la vista previa -->
                    <!-- Resto de tu código -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
      
      <mat-tab label="SAP (SALIDA - ENTRADA)">
        <div class="example-small-box mat-elevation-z4">
          <br />
          <div class="row">
            <div class="col-lg-12" *ngIf="showfilter3">
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="form-group col-md-2">
                      <label for="cboCotizacion">Cotizacion</label>                      
                    <input type="text" [(ngModel)]="cotizacionSap" placeholder="" class="form-control"/>
                    </div>
                    <div class="form-group col-md-2">
                      <label for="txtfec_inicio_n">Fecha Inicio</label>
                      <input type="date" class="form-control" placeholder="Ingrese los Nombres" id="txtfec_inicio_n"
                        name="txtfec_inicio_n" [(ngModel)]="fechaInicioSap" />
                      <p class="help-block" style="display: none;">
                        Example block-level help text here.
                      </p>
                    </div>
                    <div class="form-group col-md-2">
                      <label for="txtfec_fin_n">Fecha Fin</label>
                      <input type="date" class="form-control" placeholder="Ingrese el Apellido Paterno"
                        id="txtfec_fin_n" name="txtfec_fin_n" [(ngModel)]="fechaFinSap" />
                      <p class="help-block" style="display: none;">
                        Example block-level help text here.
                      </p>
                    </div>
                    <div class="form-group col-md-4">
                      <br />

                      <section>
                        <div class="example-button-row">
                          <button mat-flat-button color="primary" style="    margin: 6px;" class="btn btn-primary"
                            (click)="ListarMonitoreoExplocionSapSalidaEntrada()">
                            Buscar
                          </button>
                          <!--<button mat-flat-button color="accent" style="    margin: 6px;" class="btn btn-success">
                            Exportar
                          </button>-->
                        </div>
                      </section>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="card">
                <div class="card-body" style="margin-top: -19px;">
                  <div class="col-lg-4" style="float: right;">
                    <input type="text" [(ngModel)]="filterTextSapSalidaEntrada" placeholder="Buscar..." class="form-control"
                      step="height: 43px !important;" />
                  </div>
                  <div class="table-responsive">
                    <section class="example-containerss" tabindex="0">
                      <table class="table table-sm mb-0 table-responsive-lg" >
                        <thead class="sticky-top" style="color: #7e7e7e !important;">
                          <tr style="box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);  "> 
                            <th>Ruc</th>
                            <th style="white-space: nowrap">Razón Social</th>
                            <th>Cotización</th>
                            <th style="white-space: nowrap">Cot. Grupo</th> 
                            <th style="white-space: nowrap">Cod. SalidaSap</th>
                            <th style="white-space: nowrap">Fec.Envio Salida</th>
                            <th style="white-space: nowrap">User EnvioSalida</th>
                            <th style="white-space: nowrap">Detalle Salida</th>
                            <th style="white-space: nowrap">Cod.Entrada Sap</th>
                            <th style="white-space: nowrap">Fec.Entrada Sap</th>
                            <th style="white-space: nowrap">User EnvioEntrada</th>
                            <th style="white-space: nowrap">Detalle Entrada</th>
                          </tr>
                        </thead>
                        <tbody style="color: black;">
                          <!--<ng-container *ngFor="let item of filteredList()">-->
                            <tr  *ngFor="let item of filteredListSapSalidaEntrada()">                              
                              <td>{{ item.rucCliente }}</td>
                              <td>{{ item.cliente }}</td>
                              <td>{{ item.numeroCotizacion }}</td>
                              <td>{{ item.cotizacionGrupo }}</td>  
                              <td>{{ pendienteSalida(item)}}</td>
                              <td> {{item.fechaEnvioSalida ? (item.fechaEnvioSalida | date:'dd/MM/yyyy HH:mm') : ''}} </td>
                              <td>{{ item.usuarioEnvioSalida }}</td> 
                              
                              <td>                 
                                <button class="btn btn-primary tp-btn-light sharp" (click)="enviarSalidaSap(item)"  
                                *ngIf="!item.codigoSalidaSap">
                                  <mat-icon>cloud_upload</mat-icon>
                                </button>   
                                              
                                 <button class="btn btn-primary tp-btn-light sharp" (click)="DetalleSalidaSap(item.detalleSalida)" *ngIf="item.codigoSalidaSap"
                                 style="background: #13cc13 !important;     border: 1px solid #12cf12 !important;">
                                   <mat-icon>view_list</mat-icon> 
                                </button> 
                                <img  
                                src="https://cdn.iconscout.com/icon/free/png-256/free-sap-logo-icon-download-in-svg-png-gif-file-formats--technology-social-media-vol-6-pack-logos-icons-2945134.png?f=webp&w=256" 
                                alt="upload" width="44" height="44">
                              </td>
                              <td>{{ pendienteEntrada(item)  }}</td>   
                              <td> {{esFechaValida(item.fechaEntradaSap) ? (item.fechaEntradaSap | date:'dd/MM/yyyy HH:mm') : ''}} </td>
                              <td>{{ item.usuarioEnvioEntrada }}</td> 
                              <td>                                
                                <!-- DESHABILITARO BOTON CUANDO YA SE HAYA ENVIADO LA SALIDA -->
                                <button class="btn btn-primary tp-btn-light sharp" (click)="enviarEntradaSap(item)" 
                                *ngIf="item.codigoEntradaSap=='Pendiente' && item.codigoSalidaSap">
                                  <mat-icon>cloud_upload</mat-icon>
                                </button>                    
                                <button class="btn btn-primary tp-btn-light sharp" *ngIf="item.codigoEntradaSap!=='Pendiente'"
                                (click)="DetalleEntradaSap(item.detalleEntrada)"
                                style="background: #13cc13 !important;     border: 1px solid #12cf12 !important;">
                                   <mat-icon>view_list</mat-icon> 
                                </button>
                                <img  
                                src="https://cdn.iconscout.com/icon/free/png-256/free-sap-logo-icon-download-in-svg-png-gif-file-formats--technology-social-media-vol-6-pack-logos-icons-2945134.png?f=webp&w=256" 
                                alt="upload" width="44" height="44">
                              </td> 

                            </tr> 
                        </tbody>
                      </table>
                    </section>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
     <!-- <mat-tab label="Reporte Monitoreo">
        <div class="example-large-box mat-elevation-z4">
          <br />
          <div class="row">
            <div class="col-lg-12" *ngIf="showfilter2">
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="form-group col-md-2">
                      <label for="cboCotizacion2">Cotizacion</label>                      
                    <input type="text" [(ngModel)]="cotizacion2" placeholder="" class="form-control"/> 
                    </div>
                    <div class="form-group col-md-2">
                      <label for="txtfec_inicio_n">Fecha Inicio</label>
                      <input type="date" class="form-control" placeholder="Ingrese los Nombres" id="txtfec_inicio_n"
                        name="txtfec_inicio_n" [(ngModel)]="fechaInicio2" />
                      <p class="help-block" style="display: none;">
                        Example block-level help text here.
                      </p>
                    </div>
                    <div class="form-group col-md-2">
                      <label for="txtfec_fin_n">Fecha Fin</label>
                      <input type="date" class="form-control" placeholder="Ingrese el Apellido Paterno"
                        id="txtfec_fin_n" name="txtfec_fin_n" [(ngModel)]="fechaFin2" />
                      <p class="help-block" style="display: none;">
                        Example block-level help text here.
                      </p>
                    </div>
                    <div class="form-group col-md-4">
                      <br />

                      <section>
                        <div class="example-button-row">
                          <button mat-flat-button color="primary" style="    margin: 6px;" class="btn btn-primary"
                            (click)="ListarReporteExplocion()">
                            Buscar
                          </button>
                          <button mat-flat-button color="accent" style="    margin: 6px;" class="btn btn-success" (click)="exportToExcel()">
                            Exportar
                          </button>
                        </div>
                      </section>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="card">
                <div class="card-body">
                  <div class="table-responsive">
                    <section class="example-containerss" tabindex="0">
                      <table  #tableRef  class="table table-sm mb-0 table-responsive-lg">
                        <thead class="sticky-top">
                          <tr>
                            <th style="white-space: nowrap">Cotizacion</th>
                            <th style="white-space: nowrap">Cotizacio nGrupo</th> 
                            <th style="white-space: nowrap">Ruc Cliente</th>
                            <th style="white-space: nowrap">Razon Social</th>
                            <th style="white-space: nowrap">Proyecto</th> 
                            <th style="white-space: nowrap">Tipo Cliente</th> 
                            <th style="white-space: nowrap">Nombre Vendedor</th> 
                            <th style="white-space: nowrap">Fecha Produccion</th> 
                            <th style="white-space: nowrap">Fecha Entrega</th> 
                            <th style="white-space: nowrap">Observacion</th> 
                            <th style="white-space: nowrap">Estado</th> 
                            <th style="white-space: nowrap">Codigo Producto</th> 
                            <th style="white-space: nowrap">Nombre Producto</th> 
                            <th style="white-space: nowrap">Unidad</th> 
                            <th style="white-space: nowrap">Accionamiento</th> 
                            <th style="white-space: nowrap">Cant. Productos</th> 
                            <th style="white-space: nowrap">Cantidad</th> 
                            <th style="white-space: nowrap">Descrip Componente</th> 
                            <th style="white-space: nowrap">Cod Componente</th> 
                            <th style="white-space: nowrap">Descripcion</th> 
                          </tr>
                        </thead>
                        <tbody id="detalle_data">
                          <tr *ngFor="let item of ListReporteExplocion">
                            <td>{{item.numeroCotizacion}}</td>
                            <td>{{item.cotizacionGrupo}}</td> 
                            <td>{{item.rucCliente}}</td> 
                            <td>{{item.cliente}}</td> 
                            <td>{{item.proyecto}}</td> 
                            <td>{{item.tipoCliente}}</td> 
                            <td>{{item.nombreVendedor}}</td> 
                            <td>{{item.fechaProduccion | date:'dd/MM/yyyy HH:mm'}}</td> 
                            <td>{{item.fechaEntrega | date:'dd/MM/yyyy'}}</td> 
                            <td>{{item.observacion}}</td> 
                            <td>{{item.estado}}</td> 
                            <td>{{item.codigo_Producto}}</td> 
                            <td>{{item.nombre_Producto}}</td> 
                            <td>{{item.unidad}}</td> 
                            <td>{{item.accionamiento}}</td> 
                            <td>{{item.cantidadProductos}}</td> 
                            <td>{{item.cantidad}}</td> 
                            <td>{{item.descrip_Componente}}</td> 
                            <td>{{item.cod_Componente}}</td> 
                            <td nowrap>{{item.descripcion}}</td>  
                          </tr>
                        </tbody>
                      </table>
                    </section>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>-->
    </mat-tab-group>
  </div>
</div>