<link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet" />
<style>
  .vacios_ {
    color: #e51717;
    font-weight: 600;
  }

  .background-div {
    width: 100vw;
    height: 100vh;
    position: relative;
    /* Añadido para posicionar correctamente */
    background-image: url("https://dossierdearquitectura.com/imgPosts/5e17a69a08aea.jpg");
    background-size: cover;
    /* Hace que la imagen cubra todo el div */
    background-position: center;
    /* Centra la imagen en el div */
    background-repeat: no-repeat;
    /* Evita que la imagen se repita */

    /* Transparencia solo para la imagen de fondo */
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(255,
          255,
          255,
          0.645);
      /* Ajusta la transparencia aquí */
    }
  }
</style>
<div class="col-lg-12 background-divs">
  <div class="col-lg-12 homeMain" style="width: 80%; margin: auto">
    <div style="text-align: center">
      <img [src]="rutaImagen" style="width: 70%; margin-top: 16%; height: auto" alt="imagen nosotros home" />
    </div>
  </div>
</div>