<div class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="header-content">
    <nav class="navbar navbar-expand">
      <div class="collapse navbar-collapse justify-content-between">
    <ul class="metismenu" id="menu" metis-menu *ngIf="loginDisplay">
      <li [ngClass]="{ 'mm-active': adminArray.indexOf(currentHref) > -1 }" *ngIf="rol === 1">
        <a
          class="has-arrow ai-icon"
          href="javascript:void()"
          aria-expanded="false"
          style="font-size: 14px !important;"
        >
          <i class="flaticon-381-user-7"></i>
          <span class="nav-text">Admin</span>
        </a>
        <ul
          aria-expanded="false"
          [ngClass]="{ 'mm-show': adminArray.indexOf(currentHref) > -1 }"
        >
          <li>
            <a
              [routerLink]="['/admin/users']"
              class="{{ currentHref == '/admin/users' ? 'mm-active' : '' }}"
            >
              Usuario
            </a>
          </li>
        </ul>
      </li>
      <li [ngClass]="{ 'mm-active': dashboardArray.indexOf(currentHref) > -1 }">
        <a
          class="has-arrow ai-icon"
          href="javascript:void()"
          aria-expanded="false"
          style="font-size: 14px !important;"
        >
          <i class="flaticon-381-list"></i>
          <span class="nav-text">Solicitudes</span>
        </a>
        <ul
          aria-expanded="false"
          [ngClass]="{ 'mm-show': dashboardArray.indexOf(currentHref) > -1 }"
        >
          <li>
            <a
              [routerLink]="['/request']"
              class="{{
                currentHref == '/request' || currentHref == 'Inicio'
                  ? 'mm-active'
                  : ''
              }}" 
              style="font-size: 14px !important;"
              >Listado</a
            >
          </li>
          <!-- <li><a [routerLink]="['/admin/index']" class="{{(currentHref == '/admin/index' || currentHref == '/admin') ? 'mm-active' : ''}}" >Dashboard</a></li> -->
        </ul>
 
      </li>
      
      <li [ngClass]="{ 'mm-active': adminArray.indexOf(currentHref) > -1 }" >
        <a
          class="has-arrow ai-icon"
          href="javascript:void()"
          aria-expanded="false"
          style="font-size: 14px !important;"
        >
          <i class="flaticon-072-printer"></i>
          <span class="nav-text">Reporte</span>
        </a>
        <ul
          aria-expanded="false"
          [ngClass]="{ 'mm-show': adminArray.indexOf(currentHref) > -1 }"
        >
          <li>
            <a 
              [routerLink]="['/request-report']"
              class="{{
                currentHref == '/request-report' || currentHref == 'Inicio'
                  ? 'mm-active'
                  : ''
              }}" 
            >
              Reporte Fac Stok
            </a>
          </li>
        </ul>
      </li>
    
    </ul>
  </div>
</nav>
</div>
</div>