  
  <ngx-spinner
  bdColor="rgba(255, 255, 255, 1)"
  size="medium"
  color="#0D7ABD"
  type="ball-beat"
  [fullScreen]="true"
  ><p style="color: black">Loading...</p></ngx-spinner>
  <style>
  .btn-primary.light {
    background-color: #B8122B !important;
    }
    .step-label {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.step-label mat-icon {
  font-size: 40px;
  margin-bottom: 5px;
}

.step-title {
  font-size: 16px;
  font-weight: bold;
  margin-top: 9px !important;
}

.step-subtitle {
  font-size: 12px;
  color: gray;
}

.step-content {
  display: none !important; /* This will hide the step content by default */
}
.mat-step-header .mat-step-icon {
  display: none !important;
}
 
/* Use ::ng-deep to target the step number circles */
::ng-deep .mat-step-header .mat-step-icon {
  display: none !important;
}
:host ::ng-deep .custom-stepper .mat-horizontal-stepper-header-container {
  display: none !important;
}

</style>
<h2 mat-dialog-title>Estación de Trabajo  {{grupoScan}}</h2>
<div mat-dialog-content> 
  <div class="panel-body" style="min-height: 236px;margin-top: 30px;">
     
        <!-- workflow-stepper.component.html --> 
        <mat-stepper style="    box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 0%), 0px 6px 10px 0px rgba(0, 0, 0, .14), 0px 1px 18px 0px rgba(0, 0, 0, .12);
        border-radius: 100px;margin-bottom: 20px;" *ngIf="estacionesEstado">
            <mat-step>
              <ng-template matStepLabel>
                <div class="step-label">
                  <mat-icon style="color: #f9a825 !important;">brightness_low</mat-icon>
                  <div class="step-title"  >ESTACIÓN 1</div>
                  <div class="step-subtitle" [style.color]="showStepNumber1 ? '#e30e0e' : 'initial'">{{inicioestacionFecha}}</div>
                </div>
              </ng-template>
              <div class="step-content">
                <p>1</p>
              </div>
            </mat-step>
            <mat-step>
              <ng-template matStepLabel>
                <div class="step-label">
                  <mat-icon  style="color: #f9eb25 !important;">brightness_medium</mat-icon>
                  <div class="step-title" >ESTACIÓN 2</div>
                  <div class="step-subtitle" [style.color]="showStepNumber2 ? '#e30e0e' : 'initial'">{{finestacionFecha}}</div>
                </div>
              </ng-template>
              <div class="step-content">
                <p>2</p>
              </div>
            </mat-step>
            <mat-step *ngIf="finalizado">
              <ng-template matStepLabel>
                <div class="step-label">
                  <mat-icon  style="color: #24ed19 !important;">bubble_chart</mat-icon> 
                  <div class="step-title" >TERMINADO</div>
                  <div class="step-subtitle" [style.color]="showStepNumber3 ? '#24ed19' : 'initial'"></div>
                </div>
              </ng-template>
              <div class="step-content">
                <p>3</p>
              </div>
            </mat-step>
          </mat-stepper>
		<!-- row -->
    <mat-stepper linear #stepper class="custom-stepper" *ngIf="!finalizado">
      <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup" style="padding: 38px !important;">
          <ng-template matStepLabel>Número de Grupo</ng-template>
          <mat-form-field style="width: 100%;font-size: x-large;">
            <mat-label>Ingresa el número de Grupo</mat-label>
            <input matInput formControlName="firstCtrl" placeholder="00000-0" required autofocus #firstCtrlInput>
          </mat-form-field>
          <br>
          <div><br>
            <button mat-button (click)="validarYAvanzar()">Siguiente</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>Número de Estación 1</ng-template>
          <mat-form-field style="width: 100%;font-size: x-large;">
            <mat-label>Estación 1</mat-label>
            <input matInput formControlName="secondCtrl" placeholder="123456" required autofocus #secondCtrlInput>
          </mat-form-field>
          <br>
          <div><br>
            <button mat-button matStepperPrevious>Atras</button>
            <button mat-button (click)="validarYAvanzar()">Siguiente</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="treeFormGroup">
        <form [formGroup]="treeFormGroup">
          <ng-template matStepLabel>Número de Estación 2</ng-template>
          <mat-form-field style="width: 100%;font-size: x-large;">
            <mat-label>Estación 2</mat-label>
            <input matInput formControlName="treeCtrl" placeholder="123456" required autofocus #treeCtrlInput>
          </mat-form-field>
          <br>
          <div><br>
            <button mat-button matStepperPrevious>Atras</button>
            <button mat-button (click)="validarYAvanzar()">Siguiente</button>
          </div>
        </form>
      </mat-step>
    </mat-stepper>
    
</div> 
</div>
<div mat-dialog-actions style="display: contents !important;"> 
  <!-- *ngIf="firstFormGroup.valid && secondFormGroup.valid && treeFormGroup.valid"-->
  <button mat-button class="btn btn-sm btn-primary" (click)="save()" style="float: right; display: none;" 
  >
    Ingresar
  </button>
  <button mat-button class="btn btn-sm btn-primary" (click)="close()" style="float: right; ">Cerrar</button>
</div>