<ngx-spinner bdColor="rgba(255, 255, 255, 1)" size="medium" color="#0D7ABD" type="ball-beat" [fullScreen]="true">
    <p style="color: black">Loading...</p>
</ngx-spinner>
<h2 mat-dialog-title>Explocionar Componentes</h2>

<div mat-dialog-content>
    <div class="panel-body">
     
        <div class="table-container"> 
       
            <table class="table table-responsive-lg mb-0" id="dubcomponente">
                <thead class="sticky-top">
                    <tr>
                        <th>Componente</th>
                        <th>Codigo</th>
                        <th>Descripcion</th>
                        <th>Color</th>
                        <th>Unidad Medida</th>
                        <th>Cantidad Utilizada</th>
                        <th>Merma</th>
                        <th><button class="btn btn-primary-azul tp-btn-light sharp" style="float: right;"
                            (click)="agregarComponente()">
                            <mat-icon>library_add</mat-icon> </button>  </th>
                    </tr>
                </thead>
                <tbody id="id_tabla"></tbody>
                <tbody>
                    <tr *ngFor="let comp of ListComponenteProducto">
                        <td style="width: 124px !important;">
                            {{ comp.componente }}
                        </td>
                        <td style="width: 124px !important;">
                            <!--<select class="form-control input-sm" [(ngModel)]="comp.codigo">
                                <option [value]="comp.codigo">
                                    {{ comp.codigo }} -
                                    {{ comp.nombre }}
                                </option>
                                 
                            </select>-->
                            <mat-form-field appearance="outline" style="width: 100%;">
                                <mat-select [(ngModel)]="comp.codigo" placeholder="Buscar" style="width: 190px;"
                                    (selectionChange)="onNombreChange($event, comp)">
                                    <mat-select-trigger>
                                        {{
                                        comp.nombre ||
                                        '---Seleccione---'
                                        }}
                                    </mat-select-trigger>
                                    <input matInput (keyup)="applyFilter($event)" placeholder="Buscar"
                                        class="search-input" />
                                    <mat-option value="">---Seleccione---</mat-option>
                                    <mat-option *ngFor="let item of filteredListComponente" [value]="item.codigo">
                                        {{ item.codigo }} : {{ item.nombre }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                        <td id="row-1" style="width: 302px !important;">
                            {{ comp.nombre }}
                        </td>
                        <td id="row-2" style="width: 182px !important;"></td>
                        <td id="row-3" style="width: 362px !important;">
                            0000
                        </td>
                        <td style="width: 124px !important;">
                            <input type="text" class="form-control input-sm" [(ngModel)]="comp.cantidad" />
                        </td>
                        <td style="width: 124px !important;">
                            <input type="text" class="form-control input-sm" [(ngModel)]="comp.merma" />
                        </td>
                        <td style="    min-width: 118px !important;">
                            <div class="form-group" style="text-align: center;">
                                <button class="btn btn-primary tp-btn-light sharp" (click)="clonarComponente(comp)"
                                    style="    margin: 9px;">
                                    <mat-icon>file_copy</mat-icon>
                                </button>
                                <button class="btn btn-primary tp-btn-light sharp" *ngIf="comp.agregado"
                                    (click)="eliminarItemAgregado(comp)">
                                    <mat-icon>remove_circle_outline</mat-icon>
                                </button>
                            </div>
                        </td>
                    </tr> 
                </tbody>
            </table>
        </div>
        
    </div>
</div>
<div mat-dialog-actions>
    <button mat-button class="btn btn-sm btn-primary" (click)="guardarComponentes()">
        Guardar Componentes
    </button>
    <button mat-button (click)="close()">Cerrar</button>
</div>