<style>
.pagina {
    page-break-after: always;
}
</style> 

<button (click)="generarPDF2()">Generar PDF</button>
<button (click)="ObtenerLayout('rr')">listar data</button>
<button (click)="GenerarLayout()"> ES EL NUEVO </button>
<div     style="height: 100% !important;   font-family: 'Didact Gothic', sans-serif !important;
color: black !important;margin: 8px;">
 

     



    <div>
        <table class="table-layout laypdf">
            <tbody>
                <tr>
                    <td style="border: none !important;"></td>
                    <td style="border: none !important;" key="56982" class="prod_td g_first">
                        <div class="centrales"></div>
                        <div class="product-block izquierda" style="color:white;"></div>
                    </td>
                    <td style="border: none !important;" key="56983" class="prod_td g_last">
                        <div class="product-block derecha" style="color:white;"></div>
                    </td>
                    <td style="border: none !important;" key="56984" class="prod_td g_first">
                        <div class="centrales"></div>
                        <div class="product-block izquierda" style="color:white;"></div>
                    </td>
                    <td style="border: none !important;" key="56985" class="prod_td g_last">
                        <div class="product-block derecha" style="color:white;"></div>
                    </td>
                    <td style="border: none !important;" key="56986" class="prod_td">
                        <div class="product-block derecha" style="color:white;"></div>
                    </td>
                    <td style="border: none !important;" key="56987" class="prod_td">
                        <div class="product-block izquierda" style="color:white;"></div>
                    </td>
                </tr>
                <tr>
                    <td style="height: 38px;border: none !important;"></td>
                </tr>
                <tr class="bordertable">
                    <td class="cabecera">Mecanismo</td>
                    <td class="amarillo" tipo-mecanismo_0="">Manual</td>
                    <td class="amarillo" tipo-mecanismo_0="">Manual</td>
                    <td class="amarillo" tipo-mecanismo_0="">Manual</td>
                    <td class="amarillo" tipo-mecanismo_0="">Manual</td>
                    <td class="amarillo" tipo-mecanismo_0="">Manual</td>
                    <td class="amarillo" tipo-mecanismo_0="">Manual</td>
                </tr>
                <tr class="bordertable">
                    <td>Ambiente</td>
                    <td>1</td>
                    <td>1</td>
                    <td>2</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                </tr>
                <tr class="bordertable">
                    <td>Modelo</td>
                    <td class="amarillo">ROLLER SHADE II SCREEN 5% | CHALK</td>
                    <td class="amarillo">ROLLER SHADE II SCREEN 5% | CHALK</td>
                    <td class="amarillo">ROLLER SHADE II SCREEN 5% | CHALK</td>
                    <td class="amarillo">ROLLER SHADE II SCREEN 5% | CHALK</td>
                    <td class="amarillo">ROLLER SHADE II SCREEN 1% | CHALK</td>
                    <td class="amarillo">ROLLER SHADE II BO. ADVANTAGE | WHITE</td>
                </tr>
                <tr>
                    <td class="color_0">Ancho</td>
                    <td class="amarillo" ancho_0="">1.300</td>
                    <td class="amarillo" ancho_0="">1.960</td>
                    <td class="amarillo" ancho_0="">1.000</td>
                    <td class="amarillo" ancho_0="">0.920</td>
                    <td class="amarillo" ancho_0="">1.200</td>
                    <td class="amarillo" ancho_0="">1.820</td>
                </tr>
                <tr>
                    <td class="color_0">Altura</td>
                    <td class="amarillo" alto_0="">2.050</td>
                    <td class="amarillo" alto_0="">2.050</td>
                    <td class="amarillo" alto_0="">2.350</td>
                    <td class="amarillo" alto_0="">2.350</td>
                    <td class="amarillo" alto_0="">2.350</td>
                    <td class="amarillo" alto_0="">2.300</td>
                </tr>
                <tr>
                    <td class="color_0">Tip. Tubo</td>
                    <td>TUBO DE ALUMINIO 38mm | 1-1/2' (Grueso) : PALRS00000003</td>
                    <td>TUBO DE ALUMINIO 38mm | 1-1/2' (Grueso) : PALRS00000003</td>
                    <td>TUBO DE ALUMINIO 38mm | 1-1/2' (Grueso) : PALRS00000003</td>
                    <td>TUBO DE ALUMINIO 38mm | 1-1/2' (Grueso) : PALRS00000003</td>
                    <td>TUBO DE ALUMINIO 38mm | 1-1/2' (Grueso) : PALRS00000003</td>
                    <td>TUBO DE ALUMINIO 38mm | 1-1/2' (Grueso)  : PALRS00000003 </td>
                </tr>
                <tr class="bordertable tipo-cadena_0">
                    <td>Tip.Cadena</td>
                    <td class="tipo-cadena_0">Plastico</td>
                    <td class="tipo-cadena_0">Plastico</td>
                    <td class="tipo-cadena_0">Plastico</td>
                    <td class="tipo-cadena_0">Plastico</td>
                    <td class="tipo-cadena_0">Plastico</td>
                    <td class="tipo-cadena_0">Plastico</td>
                </tr>
                <tr class="bordertable">
                    <td>Tipo Caida</td>
                    <td class="caida_0">ADENTRO</td>
                    <td class="caida_0">ADENTRO</td>
                    <td class="caida_0">ADENTRO</td>
                    <td class="caida_0">ADENTRO</td>
                    <td class="caida_0">ADENTRO</td>
                    <td class="caida_0">ADENTRO</td>
                </tr>
                <tr>
                    <td>Alt.Cadena</td>
                    <td class="amarillo">3.20</td>
                    <td class="amarillo">3.20</td>
                    <td class="amarillo">3.60</td>
                    <td class="amarillo">3.60</td>
                    <td class="amarillo">3.60</td>
                    <td class="amarillo">3.60</td>
                </tr>
                <tr>
                    <td>Destino</td>
                    <td>Entrega planta</td>
                    <td>Entrega planta</td>
                    <td>Entrega planta</td>
                    <td>Entrega planta</td>
                    <td>Entrega planta</td>
                    <td>Entrega planta</td>
                </tr>
                <tr>
                    <td>Tipo Operación</td>
                    <td>Venta</td>
                    <td>Venta</td>
                    <td>Venta</td>
                    <td>Venta</td>
                    <td>Venta</td>
                    <td>Venta</td>
                </tr>
                <tr class="cenefa" cenefa_0="">
                    <td>Cenefa</td>
                    <td class="cenefa_0"></td>
                    <td class="cenefa_0"></td>
                    <td class="cenefa_0"></td>
                    <td class="cenefa_0"></td>
                    <td class="cenefa_0"></td>
                    <td class="cenefa_0"></td>
                </tr>
                <tr>
                    <td>Ind.Agrupacion</td>
                    <td>1</td>
                    <td>1</td>
                    <td>2</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                </tr>
                <tr>
                    <td>Index </td>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                </tr>
                <tr class="cabecera" tipo-riel_0="">
                    <td>Tip.Riel</td>
                    <td class="amarillo" tipo-riel_0="">CLASSIC</td>
                    <td class="amarillo" tipo-riel_0="">CLASSIC</td>
                    <td class="amarillo" tipo-riel_0="">CLASSIC</td>
                    <td class="amarillo" tipo-riel_0="">CLASSIC</td>
                    <td class="amarillo" tipo-riel_0="">CLASSIC</td>
                    <td class="amarillo" tipo-riel_0="">CLASSIC</td>
                </tr>
                <tr>
                    <td>Tubo</td>
                    <td style="font-weight: 900;" class="tubo_0">1.277</td>
                    <td style="font-weight: 900;" class="tubo_0">1.937</td>
                    <td style="font-weight: 900;" class="tubo_0">0.977</td>
                    <td style="font-weight: 900;" class="tubo_0">0.897</td>
                    <td style="font-weight: 900;" class="tubo_0">1.175</td>
                    <td style="font-weight: 900;" class="tubo_0">1.795</td>
                </tr>
                <tr>
                    <td>Tela</td>
                    <td style="font-weight: 900;" class="tela_0">1.276</td>
                    <td style="font-weight: 900;" class="tela_0">1.936</td>
                    <td style="font-weight: 900;" class="tela_0">0.976</td>
                    <td style="font-weight: 900;" class="tela_0">0.896</td>
                    <td style="font-weight: 900;" class="tela_0">1.174</td>
                    <td style="font-weight: 900;" class="tela_0">1.794</td>
                </tr>
                <tr>
                    <td>Altura</td>
                    <td style="font-weight: 900;" class="alto_0">2.250</td>
                    <td style="font-weight: 900;" class="alto_0">2.250</td>
                    <td style="font-weight: 900;" class="alto_0">2.550</td>
                    <td style="font-weight: 900;" class="alto_0">2.550</td>
                    <td style="font-weight: 900;" class="alto_0">2.550</td>
                    <td style="font-weight: 900;" class="alto_0">2.500</td>
                </tr>
                <tr>
                    <td>Area</td>
                    <td>2.871</td>
                    <td>4.356</td>
                    <td>2.489</td>
                    <td>2.285</td>
                    <td>2.994</td>
                    <td>4.485</td>
                </tr>
                <tr class="bordertable">
                    <td>Escuadra</td>
                    <td><b>NO</b> </td>
                    <td><b>NO</b> </td>
                    <td><b>NO</b> </td>
                    <td><b>NO</b> </td>
                    <td><b>NO</b> </td>
                    <td><b>NO</b> </td>
                </tr>
                <tr>
                    <td><b>Comentario:</b></td>
                    <td colspan="7"></td>
                </tr>
            </tbody>
        </table>
        <div style="float:right">
            <label>Fecha Entrega: <b>2024-01-09</b> ;Turno :  <b>DÍA</b></label>
        </div>
        <label>OBSERVACIONES: <label>    </label><br>
        <label>;</label><br><br>
        </label> 
    </div> 
    <div   class="pagina">
        <h1>Página 2</h1>
    </div>
</div> 
<hr>
<h1>:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::DESDE AQUI ES LA GENERACION:::::::::::::::::::::::::::::::::::::::::::.</h1>
 
<div   id="layout" style="height: 100% !important;   font-family: 'Didact Gothic', sans-serif !important;
color: black !important;margin: 8px;">
  
        <!--CABEZAR MAS CODIGO QR-->
        <table class="table-layout laypdf" style=" width: 100% !important;   font-size: 11px;  font-weight: 500;"> 
            <tbody> 
                <tr>
                    <td style="border: none !important;">   
                        <!--<img style="width:80px;" [src]="generarCodigoBarras()">-->
                        <img id="barcodeImage" style="width: 114px; height: 50px;">
                    </td>
                    <td colspan="2" style="border: none !important;text-align: end;"> <h3  >Orden de Produccion N: {{DatosJson2[0]?.cotizacionGrupo}}</h3></td>                 
                    <td style="border: none !important;">
                        <div class="col-lg-12" style="margin: 5px;">
                        <span style="font-weight: 500;"> Fecha de entrega: {{DatosJson2[0]?.fechaEntrega}} </span><br>
                        <span style="font-weight: 500;"> Fecha impresión:  {{DatosJson2[0]?.fechaImpresion}}</span>
                        </div>
                    </td>
                </tr> 
            </tbody>
        </table>
            <!--END-->
        <!--CABEZAL CLIENTE DIRECCION-->
        <table class="table-layout laypdf" style=" width: 100% !important;   font-size: 11px;   font-weight: 500;"> 
        <tbody>  
            <tr>            
            <td colspan="2" style="max-width: 190px;border: none !important;text-align: start;">             
                <span>Cliente:. {{DatosJson2[0]?.fechaEntrega}} </span><br>
                <span>Direccion: {{DatosJson2[0]?.fechaEntrega}}   </span>    
                </td>
            <td style="max-width: 282px;border: none !important;">Telefono: {{DatosJson2[0]?.telefono}}  &nbsp;&nbsp;&nbsp; Documento: {{DatosJson2[0]?.numeroCotizacion}}   </td> 
            <td style="max-width: 141px;border: none !important;text-align: start;"> 
                <span>TIPO:  Distribucion  {{DatosJson2[0]?.tipoCliente}}  </span> <br>
                <span>RESPONSABLE: CRISTINA MUNOZ  {{DatosJson2[0]?.vendedor}}  </span> <br>
                <span>FECHA: {{DatosJson2[0]?.fecha_Fabricacion}} </span>  
            </td> 
            </tr>
        </tbody>
            </table>
            <!--END-->
<div  #layout>

</div>
    
  </div>
