<ngx-spinner bdColor="rgba(255, 255, 255, 1)" size="medium" color="#0D7ABD" type="ball-beat" [fullScreen]="true">
    <p style="color: black">Loading...</p>
</ngx-spinner>

<h2 style="
    margin: -1px !important;" mat-dialog-title>Detalle Grupo Cotizacion  -  <b>{{DatosGrupo.cotizacionGrupo}}</b></h2>
<style>
    
  .search-input {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white; /* Opcional: para asegurarse de que el campo de búsqueda esté sobre el contenido de la tabla */

  
  width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.mat-select-panel {
   
   min-width: 112px !important;
   max-width: 480px !important;
}
</style>
<div mat-dialog-content #tableElement >
    <div class="panel-body">

        <div class="table-container">
            <table class="table table-sm mb-0 table-responsive-lg" id="dubcomponente" style="    font-size: 14px;">              
                 <thead class="sticky-top" style="color: black;">
                    <tr style="box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);  ">                       
                        <th nowrap style="    height: 8px !important;"></th>       
                        <th nowrap style="    height: 8px !important;">Tipo</th>              
                        <th nowrap style="    height: 8px !important;">Producto</th>
                        <th nowrap style="    height: 8px !important;">Código Tipo<!--<input type="checkbox" [(ngModel)]="isEditableTipo">--> 
                        </th>
                        <th nowrap style="    height: 8px !important;">Descripción Tipo</th>
                        <th nowrap style="    height: 8px !important;">Ancho</th>
                        <th nowrap style="    height: 8px !important;">Alto</th>
                        <th nowrap style="    height: 8px !important;">Cant. Roller</th>
                        <th nowrap style="    height: 8px !important;">Cálculo Final <!--<input type="checkbox" [(ngModel)]="isEditableCalculo">--> 
                        </th>
                        <th nowrap style="    height: 8px !important;">Merma <!--a<nput type="checkbox" [(ngModel)]="isEditableMerma">--> 
                        </th>  
                        <th nowrap style="    height: 8px !important;">  
                            <button class="btn btn-primary-azul tp-btn-light sharp"  title="Agregar Nuevo Componente"
                            (click)="openTablePopup()"><mat-icon>library_add</mat-icon> 
                            </button>
                            
            <button class="btn btn-primary-azul tp-btn-light sharp" style=" margin: 9px;"  *ngIf="!isFormulacion"
            (click)="toggleVisibilityFormulation()" >
                <mat-icon>visibility</mat-icon> 
              </button> 
                        </th>
                        <th nowrap *ngIf="isFormulacion" style="    height: 8px !important;">
                            Formulación   <button class="btn btn-primary-azul tp-btn-light sharp"  (click)="toggleVisibilityFormulation()" >
                <mat-icon>visibility_off</mat-icon>
              </button>
                        </th>
                    </tr>
                </thead>
                <tbody id="id_tabla"></tbody>
                <tbody style="color: #373434;">
                    <tr *ngFor="let comp of ListComponenteProducto;let i = index" > <!-- 
                        [ngStyle]="{'background': getBackgroundColor(comp.tipoDesc)}" -->
                    <td>
                            <button class="btn btn-primary tp-btn-light sharp" 
                            *ngIf="comp?.agregado !== 'true' && comp?.tipoDesc !== 'ACCESORIO'"
                            (click)="clonarComponente(comp)" 
                            title="Clonar"
                            style="margin: 0px;"><mat-icon>toll</mat-icon> 
                    </button>
                    </td>
                         <td>{{ comp.tipoDesc }}</td>  
                        <td>{{ comp.producto }}</td>                
                        <td style="width: 124px !important;">  
                            <mat-form-field appearance="outline" style="width: 100%;" >
                                <mat-select  [disabled]="!isEditableTipo" [(ngModel)]="comp.codigoTipo" placeholder="Buscar" style="width: 190px;" (selectionChange)="onNombreChange($event, comp)">
                                <mat-select-trigger>
                                    <span *ngIf="!comp.codigoTipo">
                                        {{ comp.codigoTipo || '---Seleccione---' }}                                        
                                    </span>
                                    <span *ngIf="comp.codigoTipo">
                                        {{ comp.codigoTipo || comp.codigoTipo }}                                        
                                    </span>
                                </mat-select-trigger>
                                <input matInput (keyup)="applyFilter($event, comp)" placeholder="Buscar" class="search-input" />
                                <mat-option *ngIf="!comp.filteredOptions">Cargando...</mat-option> 
                                <mat-option *ngIf="!isOptionInFilteredOptions(comp.codigoTipo, comp.filteredOptions)" [value]="comp.codigoTipo">
                                    {{ comp.codigoTipo }} : {{ comp.codigoTipo }}
                                </mat-option>                                
                                <mat-option value="">---Seleccione---</mat-option>
                                <mat-option *ngFor="let item of comp.filteredOptions" [value]="item.codigoTipo">
                                {{ item.codigoTipo }} : {{ item.descripcionTipo }}
                                </mat-option>
                                </mat-select>
                              </mat-form-field>
                        </td>
                        <td> {{comp.descripcionTipo}}</td> 
                        <td style="text-align: center;min-width: 127px !important;"> 
                            <input type="number" class="form-control input-sm" min="0" style="height: 37px !important;font-size: 14px;"
                            [(ngModel)]="comp.ancho"  *ngIf="comp.tipoDesc === 'TUBO' || comp.tipoDesc === 'RIEL' || comp.tipoDesc === 'TELA'"/>  
                            <span *ngIf="!(comp.tipoDesc === 'TUBO' || comp.tipoDesc === 'RIEL' || comp.tipoDesc === 'TELA')">--</span>
                            <!-- (ngModelChange)="onComponentInputChange(comp)" -->

                        </td>  
                        <td style="text-align: center;min-width: 127px !important;"> 
                            <input type="number" class="form-control input-sm" min="0" style="height: 37px !important;font-size: 14px;"
                            [(ngModel)]="comp.alto"  *ngIf="comp.tipoDesc === 'TELA'" />
                            <span *ngIf="comp.tipoDesc !== 'TELA'">--</span>                        
                            <!--  (ngModelChange)="onComponentInputChange(comp)" -->
                        </td> 
                        <td>                            
                            <input type="number" class="form-control input-sm" min="0" style="height: 37px !important;font-size: 14px;"
                            [(ngModel)]="comp.cantidadRoller" />
                            <!--  (ngModelChange)="onComponentInputChange(comp)"  -->
                        </td> 
                        <td style="min-width: 127px !important;">
                            <input type="number" class="form-control input-sm" min="0" style="height: 37px !important;font-size: 14px;"
                            [(ngModel)]="comp.calculoFinal"  (input)="validateAndFormatInput($event)" [disabled]="!isEditableCalculo"/>
                        </td>
                        <td style="min-width: 55px !important;">
                            <input type="number" class="form-control input-sm" min="0" style="height: 37px !important;font-size: 14px;"
                            [(ngModel)]="comp.merma"  (input)="validateAndFormatInput($event)" [disabled]="!isEditableMerma"
                            *ngIf="comp.tipoDesc === 'TUBO' || comp.tipoDesc === 'RIEL' || comp.tipoDesc === 'TELA'"/>
                            <span *ngIf="!(comp.tipoDesc === 'TUBO' || comp.tipoDesc === 'RIEL' || comp.tipoDesc === 'TELA')">--</span>
                        </td> 
                        <td>
                                <button class="btn btn-primary tp-btn-light sharp" *ngIf="comp?.agregado==='true'" title="Eliminar"
                                    (click)="eliminarItemAgregado(comp)">
                                    <mat-icon>delete_forever</mat-icon>
                                </button>
                        </td>
                        
                        <td *ngIf="isFormulacion">
                            <table  style="  font-size: 10px !important;" *ngIf="mostrar(comp)" class="table-responsive-sm">
                                <tr *ngIf="comp.tipoDesc == 'TUBO' || comp.tipoDesc == 'RIEL'">
                                  <th class="padding-tables">val.AnchoxGrupo</th>
                                  <td  class="padding-tables" *ngFor="let item of getGrupos(comp.altoXgrupo)">{{ item }}</td>
                                </tr>
                                <tr>
                                  <th class="padding-tables">Val.FinalXGrupo</th>
                                  <td  class="padding-tables" *ngFor="let item of getGrupos(comp.calculoFinalXgrupo)">{{ item }}</td>
                                </tr>
                                <tr>
                                  <th class="padding-tables">Grupo</th>
                                  <td  class="padding-tables" *ngFor="let grupo of getGrupos(comp.indiceAgrupacion)">{{ grupo }}</td>
                                </tr>
                                <tr>
                                  <th  class="padding-tables">Cantidad</th>
                                  <td  class="padding-tables" *ngFor="let cantidad of getCantidades(comp.cantXGrupoIndiceAgrupacion)">{{ cantidad }}</td>
                                </tr>
                                <tr>
                                  <th  class="padding-tables">Valor</th>
                                  <td  class="padding-tables" *ngFor="let valor of getValores(comp.cantXGrupoIndiceAgrupacion,comp)">{{ valor }}</td>
                                </tr>    
                                    <tr>
                                    <td  class="padding-tables">Total</td>
                                    <td  class="padding-tables" *ngFor="let valor of getValoresTotal(comp.cantXGrupoIndiceAgrupacion,comp)">{{ valor }}</td>
                                    </tr> 
                                    <tr>
                                        <td  class="padding-tables" [attr.colspan]="getGrupos(comp.indiceAgrupacion).length + 1" style="text-align: center;">
                                              {{ sum(getValoresTotal(comp.cantXGrupoIndiceAgrupacion,comp)) }}
                                          </td>
                                    </tr> 
                              </table> 
                                   <!-- Tabla para Detalle Completo -->
<div *ngFor="let item of parseDetalleCompleto(comp)" class="mb-3" style="margin-bottom: -4px !important;">
    <span class="mt-2 mb-1" style="
    text-transform: uppercase;
    font-size: 11px !important;
    font-weight: 600;
    color: #b6122a;">Grupo: {{ item.alto.grupo }} - Cantidad Roller: {{ item.alto.cantRoller }}</span>
    
    <!-- Alto Table -->
    <table style="  font-size: 10px !important;"  class="table-responsive-sm"> 
        <tr>
          <th  style="
          width: 0px !important;
          padding-top: 0px !important;
          padding-bottom: 0px !important;
          padding-left: 0px !important;
          padding-right: 0px !important;
          transform: rotate(-90deg);" rowspan="3" class="text-center">Alto</th>
        </tr>
        <tr>
          <th class="padding-tables" nowrap>Alto Roller</th>
          <th class="padding-tables" nowrap>Val. Aplicado</th>
          <th class="padding-tables" nowrap>Val.1Roller</th>
          <th class="padding-tables" nowrap>Val.2Rollers</th>
          <th class="padding-tables" nowrap>Val.3Rollers</th>
          <th class="padding-tables" nowrap>Val.4Rollers</th>
          <th class="padding-tables" nowrap>Cálc. Final</th>
        </tr>  
        <tr>
          <td class="padding-tables">{{ item.alto['alto-roller'] | number:'1.3-3' }}</td>
          <td class="padding-tables">{{ item.alto.valorAplicado | number:'1.3-3' }}</td>
          <td class="padding-tables">{{ item.alto.ValorPor1Roller | number:'1.3-3' }}</td>
          <td class="padding-tables">{{ item.alto.ValorPor2Rollers | number:'1.3-3' }}</td>
          <td class="padding-tables">{{ item.alto.ValorPor3Rollers | number:'1.3-3' }}</td>
          <td class="padding-tables">{{ item.alto.ValorPor4Rollers | number:'1.3-3' }}</td>
          <td class="padding-tables">{{ item.alto.calculoFinal | number:'1.3-3' }}</td>
        </tr>  
        <tr>
          <th style="
          width: 0px !important;
          padding-top: 0px !important;
          padding-bottom: 0px !important;
          padding-left: 0px !important;
          padding-right: 0px !important;
          transform: rotate(-90deg);" rowspan="6" class="text-center">Ancho</th>
        </tr>
        <tr>
          <th class="padding-tables" nowrap>Ancho Tubo</th>
          <th class="padding-tables" nowrap>Val. Aplicado</th>
          <th class="padding-tables" nowrap>Val.1Roller</th>
          <th class="padding-tables" nowrap>Val.2Rollers</th>
          <th class="padding-tables" nowrap>Val.3Rollers</th>
          <th class="padding-tables" nowrap>Val.4Rollers</th>
          <th class="padding-tables" nowrap>Cálc. Final</th>
        </tr> 
        <tr>
          <td class="padding-tables">{{ item.ancho['ancho-tubo'] | number:'1.3-3' }}</td>
          <td class="padding-tables">{{ item.ancho.valorAplicado | number:'1.3-3' }}</td>
          <td class="padding-tables">{{ item.ancho.ValorPor1Roller | number:'1.3-3' }}</td>
          <td class="padding-tables">{{ item.ancho.ValorPor2Rollers | number:'1.3-3' }}</td>
          <td class="padding-tables">{{ item.ancho.ValorPor3Rollers | number:'1.3-3' }}</td>
          <td class="padding-tables">{{ item.alto.ValorPor4Rollers | number:'1.3-3' }}</td>
          <td class="padding-tables">{{ item.ancho.calculoFinal | number:'1.3-3' }}</td>
        </tr> 
    </table>
    <hr class="mt-2 mb-2">
  </div>
                          </td> 
                    </tr>
                </tbody> 
            </table>
        </div>
    </div>
</div>
<div mat-dialog-actions>
   <button mat-button class="btn btn-sm btn-primary" (click)="guardarComponentes()">
        Guardar 
    </button>
    <button mat-button (click)="close()">Cerrar</button>
</div>