.mi-tabla thead {
    background: #b8122b !important;
    color: white;
  }
  
  .mi-tabla th, .mi-tabla td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
.example-tooltip-red {
  /*background: #44e485;*/
  background: #3d64f3;
  text-transform: uppercase;
  font-family: inherit;
  color: white;
  font-size: 12px;
  padding: 9px;
  border-radius: 9px !important;
  font-weight: 600;
}
 
.search-input {
  position: sticky !important;
  top: 0 !important;
  z-index: 1 !important;
  background-color: white  !important; /* Opcional: para asegurarse de que el campo de búsqueda esté sobre el contenido de la tabla */

  
  width: 100% !important;
    padding: 8px !important;
    border: 1px solid #ccc !important;
    border-radius: 4px !important;
}