
<ngx-spinner bdColor="rgba(255, 255, 255, 1)" size="medium" color="#0D7ABD" type="ball-beat" [fullScreen]="true">
    <p style="color: black">Loading...</p>
</ngx-spinner>

  <style>
    .example-containerambiente {
  height: 210px;
  /*overflow: auto;*/
}

.example-tableprod {
  max-height: 514px !important;
  /*overflow: auto;*/
}
.shadows{
  box-shadow: -14px 3px 20px 0px rgb(62 62 62 / 10%) !important;    background-color: #fdfdfd;
  color: #000;
}
  </style>
<!--**********************************
	Content body start
***********************************-->
<div class="content-body">
	<div class="container-fluid">
		<div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>Planificación de producción</h4> 
                </div>
            </div>  
            <div class="col-sm-5 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
              <ol class="breadcrumb">
                <mat-button-toggle-group 
                  name="ingredients" 
                  aria-label="Ingredients"
                  style="border-radius: 70px; border: 3px solid #B8122B;font-weight: 500; box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 0%), 0px 6px 10px 0px rgba(0, 0, 0, .14), 0px 1px 18px 0px rgba(0, 0, 0, .12);">
                  
                  <mat-button-toggle value="flour" (click)="NuevaOpSap()">
                    Nueva OP SAP
                    <mat-icon style="color: #B8122B;">note_add</mat-icon>
                  </mat-button-toggle>
                  
                  <mat-button-toggle value="sugar" (click)="EdiatOpDc()">
                    OP Existente
                    <mat-icon style="color: #B8122B;">edit</mat-icon>
                  </mat-button-toggle>
                  
                </mat-button-toggle-group>
              </ol>
          </div>
          
          <div class="col-sm-1 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
            <ol class="breadcrumb">
              
              <button mat-icon-button (click)="atras()">
                <mat-icon>keyboard_backspace</mat-icon>Atras
              </button> 
            </ol>
        </div>

        </div>
		<div class="row">
			<div class="col-xl-12">
				<div class="card">
					<div class="card-body">
						<div class="row"> 
              <div class="needs-validation">
                <div class="row col-lg-12">
                  <div class="col-lg-8"> 
                  <div class="row">
                      <div class="col-lg-4 mb-3">
                          <label for="username">Nº Cotizacion</label>
                          <div class="input-group">    
 
                          
          <mat-form-field *ngIf="nuevaOPEdicion" appearance="outline" style="width: 100% !important ; font-size: 14px;">
            <mat-select [(ngModel)]="ordenes" placeholder="Cotización" style="width: 100% !important;"
             (openedChange)="filterCotizaciones2($event)"
            (selectionChange)="onCotizacionSelected($event)"
            [compareWith]="comparaOrdenes"
             >
              <!-- Define cómo se muestra el valor seleccionado -->
  <mat-select-trigger>
    {{ ordenes?.numero || '---Seleccione---' }}
  </mat-select-trigger>
        
              <!-- Campo de búsqueda con input -->
              <div style="display: flex; align-items: center;">
                <input matInput (keyup)="filterCotizaciones2($event)" placeholder="Buscar" class="search-input" [(ngModel)]="searchValue" />
                <!-- Botón para refrescar listado cuando no se encuentre la cotización -->
                <button mat-icon-button *ngIf="searchValue && !filteredCotizaciones.length" (click)="refreshCotizaciones(searchValue)">
                  <mat-icon>search</mat-icon>
                </button>
              </div>          
              <!-- Opciones filtradas -->
              <mat-option value="">---Seleccione---</mat-option>
              <mat-option *ngFor="let cotizacion of filteredCotizaciones" [value]="cotizacion">
                {{ cotizacion.numero }}
              </mat-option>
            </mat-select>
          </mat-form-field> 
                          <!-- BUSCA EN BD-->
                             <input   class="form-control" *ngIf="!nuevaOPEdicion"
                              placeholder="Número de Orden"
                              aria-label="Número de Orden"
                              [matAutocomplete]="auto"
                              [formControl]="stateCtrl">
                              <mat-autocomplete #auto="matAutocomplete">                  
                              <mat-option *ngFor="let state of filteredStates | async" [value]="state.numero" (click)="onSelectState(state)"> 
                              <span>OP: <b>{{state.numero}}</b></span>  
                              </mat-option>                    
                              </mat-autocomplete>
                              <div class="input-group-prepend" *ngIf="isRequesting">
                              <img src="../../assets/loading.gif" style="
                              width: 80px;transform: scale(1.5);">
                              </div>  
                          </div>
                      </div> 
                      <div class="col-lg-4 mb-3">
                          <label for="state">Tipo Cliente</label> 
                            <!--<select class="d-block default-select form-control selectpicker w-100" id="state" required [(ngModel)]="Orden.idTipoCliente">
                                <option value="">--Seleccione--</option>
                                <option *ngFor="let proyecto of listTipoCliente" [value]="proyecto.id">{{ proyecto.nombre }}</option>
                            </select>-->                            
                          <input type="text" class="form-control" id="zip" placeholder="ingrese tipo cliente" required disabled [(ngModel)]="Orden.tipoCliente"/>
                      </div>
              
                      <div class="col-lg-4 mb-3">
                          <label for="zip">Total</label>
                          <input type="text" class="form-control" id="zip" placeholder="ingrese total" required disabled [(ngModel)]="Orden.total"/>
                      </div>
                      <div class="col-lg-4 mb-3">
                          <label for="state">Nombre proyecto</label>
                          <div class="input-group"> 
                            <select class="d-block default-select form-control selectpicker w-100" id="state" required [(ngModel)]="Orden.idProyecto">
                                <option value="">--Seleccione--</option>
                                <option *ngFor="let proyecto of listProyecto" [value]="proyecto.id">{{ proyecto.nombre }}</option>
                            </select>
                              <button mat-fab color="primary" style="position: absolute; right: 3%;" (click)="openRegisterProyecto()">
                                  <mat-icon>add_box</mat-icon>
                              </button>
                          </div>
                      </div>
              
                      <div class="col-lg-4 mb-3">
                          <label for="state">Destino</label> 
                          <select class="d-block default-select form-control selectpicker w-100" id="state" required [(ngModel)]="Orden.idDestino">
                            <option value="">--Seleccione--</option>
                            <option *ngFor="let proyecto of listDestino" [value]="proyecto.id">{{ proyecto.nombre }}</option>
                        </select>
                      </div>
                      <div class="col-lg-4 mb-3">
                          <label for="state">Tipo Operación</label> 
                          <select class="d-block default-select form-control selectpicker w-100" id="state" required [(ngModel)]="Orden.idTipoPeracion">
                            <option value="">--Seleccione--</option>
                            <option *ngFor="let proyecto of listTipoOperacion" [value]="proyecto.id">{{ proyecto.nombre }}</option>
                          </select>
                      </div>
                      <div class="col-lg-4 mb-3">
                          <label for="zip">Ruc</label>
                          <input type="text" class="form-control" id="zip" placeholder="ingrese ruc" required disabled [(ngModel)]="Orden.rucCliente"/>
                      </div>
                      <div class="col-lg-4 mb-3">
                          <label for="zip">Cliente</label>
                          <input type="text" class="form-control" id="zip" placeholder="ingrese nombre del cliente" required disabled [(ngModel)]="Orden.cliente"/>
                      </div>
                      <div class="col-lg-4 mb-3">
                          <label for="zip">Fecha Sap</label>
                          <!--<mat-form-field appearance="outline" style="width: 100%;">
                              <input class="form-input" matInput [matDatepicker]="picker" [(ngModel)]="Orden.fechaSap"/>
                              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                              <mat-datepicker #picker></mat-datepicker>
                          </mat-form-field>-->
                          
                          <input type="text" class="form-control" id="zip" placeholder="Fecha Sap" required disabled [(ngModel)]="Orden.fechaSap"/>
                      </div>
                      <!--<div class="col-lg-4 mb-3">
                          <label for="zip">Fecha Inicio</label>
                          <mat-form-field appearance="outline" style="width: 100%;">
                              <input class="form-input" matInput [matDatepicker]="pickern" />
                              <mat-datepicker-toggle matSuffix [for]="pickern"></mat-datepicker-toggle>
                              <mat-datepicker #pickern></mat-datepicker>
                          </mat-form-field>
                      </div>-->
                      <div class="col-lg-4 mb-3">
                          <mat-label>Subir Archivo</mat-label> <br />
                          <input type="file" (change)="onFileSelected($event)" style="height: 50% !important; padding: 12px; border: 1px solid #d2d2e1; border-radius: 7px; margin: 8px; width: 100%;" />
                          <a title="Descargar archivo" style="color: #252bee;
                          padding: 12px;
                          font-weight: 600;
                          font-size: 15px;
                          text-decoration: underline;
                          cursor: pointer;" (click)="descargarArchivo(Orden.archivo)" *ngIf="Orden.archivo">{{Orden.archivo}}  <mat-icon>cloud_download</mat-icon></a>
                      </div>
              
                      <div class="col-lg-3">
                          <label for="state">Nivel</label>
                          <select class="d-block default-select form-control selectpicker w-100" id="state" required [(ngModel)]="Orden.nivel">
                              <option value="">--Seleccione--</option>
                              <option>Matriz</option>
                              <option>Sun Nivel</option>
                          </select>
                      </div>
                      <div class="col-lg-3">
                          <label for="state">Sub Nivel</label>
                          <select class="d-block default-select form-control selectpicker w-100" id="state" required [(ngModel)]="Orden.subNivel">
                              <option value="">--Seleccione--</option>
                              <option>Si</option>
                              <option>No</option>
                          </select>
                      </div>
                  </div>
              </div>
              
                    <div class="col-lg-4">
                        <h4>Ambiente</h4>  
                              <div class="row">
                              <div class="col-lg-4 mb-3">
                                  <label for="indice">Indice</label>
                                  <input type="number" class="form-control" id="indice" placeholder="0" min="0" required [(ngModel)]="indice" name="indice" />
                              </div>
                              <div class="col-lg-4 mb-3">
                                  <label for="ambiente">Ambiente</label>
                                  <input type="text" class="form-control" id="ambiente" placeholder="Ejemplo.." min="0" required [(ngModel)]="ambiente" name="ambiente" />
                              </div>
                              <div class="col-lg-4 mb-3">
                                  <label for="numProd">Nº Prod</label>
                                  <input type="number" class="form-control" id="numProd" placeholder="0" required min="0" [(ngModel)]="numProd" name="numProd" />
                              </div>
                              <div class="col-lg-4">
                                  <button mat-flat-button color="primary" class="btn btn-primary" (click)="AgregarAmbiente()" 
                                  [disabled]="!Orden.id" >Agregar</button>
                              </div>
                          </div> 
                                    <hr />
                                    <div class="row">
                                        <div class="card" style="width: 100%;"> 
                                                <div class="table-responsive">
                                                  <section class="example-containerambiente" tabindex="0">
                                                  <table style="width: 100%;" class="table text-black">
                                                  <thead class="sticky-top">
                                                      <tr>
                                                          <th class="align-middle">Indice</th>
                                                          <th class="align-middle pr-7">Ambiente</th>
                                                          <th class="align-middle minw200">Nº Prod</th>
                                                          <th class="align-middle minw200">Acción</th>
                                                          <th class="no-sort"></th>
                                                      </tr>
                                                  </thead>
                                                  <tbody id="orders">
                                                      <tr class="btn-reveal-trigger" *ngFor="let item of TblAmbiente; let i = index">
                                                          <td class="py-2">
                                                                <strong class="text-black">{{item.indice}} </strong> 
                                                          </td>
                                                          <td class="py-2">{{item.ambiente}}</td>
                                                          <td class="py-2">{{item.cantidadProducto}}</td>
                                                          <td class="py-2">
                                                              <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon"
                                                              [disabled]="item.turno"
                                                               (click)="eliminarAmbiente(item.id)">
                                                                  <mat-icon>delete</mat-icon>
                                                              </button>
                                                          </td>
                                                      </tr>
                                                  </tbody>
                                              </table>
                                            </section> 
                                            </div>
                                        </div>
                                    </div>  
                    </div>
                </div>
            
                <hr class="mb-4" />
                <div class="text-left mt-4 mb-2">
                    <button class="btn btn-primary btn-sl-sm mr-2" type="button" (click)="Guardar()" *ngIf="!Orden.id">
                        <span class="mr-2"><i class="fa fa-floppy-o"></i></span>Guardar
                    </button> 
                    <button class="btn btn-primary btn-sl-sm mr-2" type="button" (click)="Guardar()" *ngIf="Orden.id"
                    
                    >
                        <span class="mr-2"><i class="fa fa-pencil-square-o"></i></span>Modificar
                    </button>
                    <button class="btn btn-primary btn-sl-sm mr-2" type="button" (click)="listarProductosSisgecoAndDcBlinds('')"  *ngIf="Orden.numeroCotizacion">
                        <span class="mr-2"><i class="fa fa-upload" aria-hidden="true"></i></span>Cargar Sisgeco
                    </button> 
                </div>
            </div>
              
						</div>
            <hr> 
            
		<div class="row">
			<div class="col-lg-12">
				<div class="card">
					<div class="card-body"> 
            <div class="col-lg-12" *ngIf="Productos.length>0">

              <mat-chip-list aria-label="Fish selection" style="height: 59px;"> 
                <mat-chip     class="shadows" style="margin: 12px !important;    border: 1px solid #b8122bad;">  
                    Productos  &nbsp;<b> {{totalProductos}}</b>&nbsp;&nbsp;
                </mat-chip>                 
                <mat-chip    class="shadows" style="margin: 12px !important;    border: 1px solid #b8122bad;">  
                    Componentes &nbsp; <b> {{totalComponentes}}</b>&nbsp;&nbsp;
                </mat-chip>                 
                <mat-chip    class="shadows" style="margin: 12px !important;    border: 1px solid #b8122bad;">                   
                    Registrados &nbsp;<b> {{totalRegistrados}}</b>&nbsp;&nbsp;
                </mat-chip>                 
                <mat-chip   class="shadows" style="margin: 12px !important;    border: 1px solid #b8122bad;">  
                    Por Registrar &nbsp;<b> {{totalPorRegistrar}}</b>&nbsp;&nbsp;</mat-chip> 
              </mat-chip-list>  
              
              </div>
            
						<div class="table-responsive">
                            
                            <section class="example-tableprod" tabindex="0">
							<table class="table table-sm mb-0 table-responsive-lg text-black">
								<thead class="sticky-top">
									<tr> 
										<th class="align-middle">Central</th>
										<th class="align-middle pr-7">Indice Ambiente</th>
										<th class="align-middle minw200">Index</th>
										<th class="align-middle minw200">ID Producto</th>
										<th class="align-middle">Nombre Producto</th>
										<th class="align-middle">Grupo Cotizacion</th>                    
										<th class="align-middle">Guardar</th>
										<th class="align-middle minw200">Editar</th> 
										<th class="align-middle minw200">Copiar</th> 
										<th class="align-middle minw200">Guardado</th>  
										<th class="align-middle minw200">Layout</th>  
									</tr>  

								</thead>
								<tbody id="orders"> 
									<tr *ngFor="let itemproducto of Productos; let i = index " class="btn-reveal-trigger">
                                        <td class="py-2"> 
                                          <mat-checkbox *ngIf="itemproducto.pase !== 'PASDIRECCT' && itemproducto.id!=='' "
                                          [disabled]="itemproducto.estadoOp !== '2' || !Orden.id"
                                          (change)="AplicarCentral(itemproducto,$event)"
                                          [checked]="itemproducto.central === 'SI'">
                                        </mat-checkbox>
                                        </td>
                                        <td class="py-2" style="text-align: center;">{{itemproducto.indiceAgrupacion}}
                                          
                                          <span *ngIf="itemproducto.ambiente">- {{itemproducto.ambiente}}</span>
                                        </td>
                                        <td class="py-2" nowrap>
                                          {{itemproducto.indexDetalle}}  
                                        </td>
                                        <td class="py-2">{{ itemproducto.codigoProducto }}</td>
                                        <td class="py-2">{{ itemproducto.nombreProducto }}</td>
                                        <td class="py-2">{{ itemproducto.cotizacionGrupo }}</td>
                                        <td class="py-2"> 
                                          <!--ABRIR POPUP PARA COMPLETAR DATOS ADICIONALES DEL PRODUCTO-->
                                          <button *ngIf="itemproducto.pase !== 'PASDIRECCT'"
                                                  class="btn btn-primary tp-btn-light sharp" 
                                                  type="button"
                                                  (click)="openRegisterProd(itemproducto)" 
                                                  [disabled]="itemproducto.existe === 'SI' || !Orden.id">
                                            <mat-icon>note_add</mat-icon>
                                          </button>
                                          <!--GUARDAR DIRECTO SIN MOSTRAR FORMULARIO-->
                                          <button *ngIf="itemproducto.pase === 'PASDIRECCT'"
                                                  class="btn btn-primary tp-btn-light sharp" 
                                                  type="button"
                                                  (click)="RegistrarProductoComponente(itemproducto)" 
                                                  [disabled]="itemproducto.existe === 'SI' || itemproducto.estadoOp !== '2' || !Orden.id">
                                            <mat-icon>save</mat-icon>
                                          </button>
                                        </td>
                                        <!--ABRIR POPUP DE EDICION PARA COMPLETAR DATOS ADICIONALES DEL PRODUCTO-->
                                        <td class="py-2">
                                          <button class="btn btn-primary tp-btn-light sharp" type="button" 
                                          (click)="openEditProd(itemproducto)"
                                          [disabled]="itemproducto.estadoOp !== '2' || !Orden.id  || itemproducto.id=='' || itemproducto.pase === 'PASDIRECCT'"
                                          >
                                            <mat-icon>edit</mat-icon>
                                          </button>
                                        </td>
                                        <td class="py-2">
                                          <button class="btn btn-primary tp-btn-light sharp" type="button" (click)="CopiarAtributo(itemproducto)" 
                                          *ngIf="itemCopiado !== itemproducto"
                                          [disabled]="!Orden.id || itemproducto.id=='' || itemproducto.pase == 'PASDIRECCT'"
                                          >
                                            <mat-icon>file_copy</mat-icon>
                                          </button>
                                          <button class="btn btn-primary tp-btn-light sharp" type="button" (click)="CancelarCopiado()" *ngIf="itemCopiado === itemproducto">
                                            <mat-icon>cancel</mat-icon>
                                          </button>
                                        </td>
                                        <td class="py-2">
                                          <button mat-icon-button *ngIf="itemproducto.existe=='SI'" style="background: #0fc10f;
                                          color: white;
                                          box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 4%), 0px 6px 10px 0px rgba(0, 0, 0, .14), 0px 1px 18px 0px rgba(0, 0, 0, .12);">
                                             <mat-icon >check_circle</mat-icon>
                                          </button>
                                          <button mat-icon-button *ngIf="itemproducto.existe=='NO'" style="background: #a2aca2;
                                          color: white;
                                          box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 4%), 0px 6px 10px 0px rgba(0, 0, 0, .14), 0px 1px 18px 0px rgba(0, 0, 0, .12);">
                                            <mat-icon *ngIf="itemproducto.existe=='NO'">not_interested</mat-icon> 
                                          </button>
                                        </td> 
                                        <td *ngIf="getRowSpan(i) > 0" [attr.rowspan]="getRowSpan(i)">
                                          
                    <button class="btn btn-primary-azul tp-btn-light sharp"  matTooltip="Generar PDF Layout"    type="button"
                     (click)="GenerarLayout(itemproducto.cotizacionGrupo, itemproducto.cotizacionGrupo.slice(-2))"> 
                      <mat-icon>apps</mat-icon> 
                  </button> 
                                         </td>
                                      </tr>

								</tbody>
							</table>
                            </section>
                            <div style="display: none;">
                              <app-layout></app-layout>
                            </div>
						</div>
					</div>
				</div>
			</div>
		</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--**********************************
	Content body end
***********************************-->