
 <ngx-spinner
  bdColor="rgba(255, 255, 255, 1)"
  size="medium"
  color="#0D7ABD"
  type="ball-beat"
  [fullScreen]="true"
  ><p style="color: black">Loading...</p></ngx-spinner>

           <!--**********************************
	Content body start
***********************************-->
<div class="content-body">
	<div class="container-fluid">
    
		<div class="row page-titles mx-0" style="padding: 0 !important;
    background: transparent !important;
    margin-bottom: 0 !important;
    border-radius: 5px !important;
    margin-top: -20px !important;">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>Usuarios</h4>
                    <p class="mb-0">Mantenimiento Usuarios</p>
                </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <ol class="breadcrumb"> 
					<mat-button-toggle-group name="ingredients" aria-label="Ingredients" multiple style="border-radius: 70px;
					border: 3px solid #B8122B;font-weight: 500;
					box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 0%), 0px 6px 10px 0px rgba(0, 0, 0, .14), 0px 1px 18px 0px rgba(0, 0, 0, .12);"> 
					  <mat-button-toggle value="eggs" (click)="openRegisterUser()">Nuevo Usuario <mat-icon style="color: #B8122B;">group_add</mat-icon ></mat-button-toggle> 
					</mat-button-toggle-group>	
                </ol>
            </div>
        </div>
		<br>
		<div class="row">
			<div class="col-lg-12">
				<div class="card">
					<div class="card-body">
						<div class="table-responsive">
							<table class="table table-responsive-lg mb-0 table-striped">
								<thead>
									<tr> 
										<th>Nombre</th>
										<th>Apellido</th>
										<th>Documento</th>
										<th>Correo</th>
										<th>Codigo</th>
										<th>Perfil</th>
										<th></th>
									</tr>
								</thead>
								<tbody id="customers"> 
									<tr class="btn-reveal-trigger" *ngFor="let item of ListUsuarios; let i = index"> 
										<td class="py-3">
											<div class="circle" [style.backgroundColor]="userColors[i]">
												<span>{{ item.nombre.charAt(0) | uppercase }}</span>
											  </div>
											  {{ item.nombre }}
										</td>
										<td class="py-2">{{ item.apellido }}</td>
										<td class="py-2"> {{ item.dni }}</td>
										<td class="py-2 pl-5 wspace-no"><a href="mailto:item.correo">{{ item.correo }}</a></td>
										<td class="py-2">{{ item.codigoUsuario }}</td>
										<td class="py-2">{{ item.nombreRol }}</td>
										<!-- <a href="tel:2012001851">{{ item.dni }}</a> -->
										<td class="py-2 text-right"> 								
											<button class="btn btn-primary tp-btn-light sharp" style="margin: 5px;"
											(click)="openEditUsers(item)">
												<mat-icon>edit</mat-icon>
											  </button>
											  <button class="btn btn-primary tp-btn-light sharp" (click)="eliminarUsuario(item)">
												<mat-icon>delete</mat-icon>
											  </button>
										</td>
									</tr>   
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
<!--**********************************
	Content body end
***********************************-->

